{% set img_path = "/assets/images/goodies/cliques/" %}

{% macro clique_text(text, options = {}) %}
  {% set safe_text = text | safe %}
  {% if options.url %}
    <a href="{{ options.url }}" {% if options.cls %}class="{{ options.cls | trim }}"{% endif %}>{{ safe_text }}</a>
  {% elif options.cls != undefined %}
    <span class="{{ options.cls }}">{{ safe_text }}</span>
  {% else %}
    {{ safe_text }}
  {% endif %}
{% endmacro %}

{% macro text(clique) %}
  {# Left text #}
  {% set left_url = clique.left.url or clique.leftUrl %}
  {% set leftText = clique.left.text or clique.leftText or clique.left %}
  {{ clique_text(leftText, { url: left_url, cls: clique.left.cls }) }}

  {# Center text (or image) #}
  {% if clique.center %}
    {% set center_url = clique.center.url or clique.centerUrl %}
    {% set center_text = clique.center.text or clique.centerText or clique.center %}
    {% if clique.center.img %}
      {% img img_path + clique.center.img, { cls: clique.center.cls, ariaHidden: true } %}
    {% else %}
      {{ clique_text(center_text, { url: center_url, cls: clique.center.cls }) }}
    {% endif %}
  {% endif %}

  {# Right text #}
  {% set right_url = clique.right.url or clique.rightUrl %}
  {% set right_text = clique.right.text or clique.rightText or clique.right %}
  {{ clique_text(right_text, { url: right_url, cls: clique.right.cls }) }}
{% endmacro %}

{% macro img(clique) %}
  {% set alt_text = clique.alt + " for the '" + clique.name + "' clique" %}
  {% if clique.tooltip %}
    {% set tooltip_params =
      {
        tooltipId: "clique-" + (clique.id or clique.name | slugify),
        url: clique.url,
        src: img_path + clique.img,
        alt: alt_text,
        cls: clique.cls
      }
    %}
    {% tooltip tooltip_params %}{{ clique.tooltip }}{% endtooltip %}
  {% else %}
    {% img img_path + clique.img, { url: clique.url, alt: alt_text, cls: clique.cls } %}
  {% endif %}
{% endmacro %}