{% set imgPath = "/assets/images/webrings/" %}

{% macro basic(webring) %}
  {% set webringName = webring.title %}
  <div class="webring">
    {# previous site #}
      {% if webring.prevUrl %}
        {% set src = imgPath + webring.nav %}
      {% imgWithLink src, webring.prevUrl, { imgCls: 'me-1', alt: "Go to the previous site in the " + webringName + " webring" } %}
      {% endif %}
    {# Index link #}
      {% set src = imgPath + webring.src %}
    {% imgWithLink src, webring.url, { alt: "Go to the next site in the " + webringName + " webring" } %}
    {# next site #}
      {% if webring.nextUrl %}
        {% set src = imgPath + webring.nav %}
      {% imgWithLink src, webring.nextUrl, { imgCls: 'ms-1 img-next', alt: "Main link to the " + webringName + " webring" } %}
      {% endif %}
  </div>
{% endmacro %}

{% macro tropical(debug = false) %}
    {% set webringUrl = 'https://astracelestine.nekoweb.org' %}
  {% if debug %}
    <div style="display: flex; gap: 8px" id="TRB">
      <a href="" id="prevTRB"><img src="{{ webringUrl }}/img/Illustration2.png" style="width: 50px"></a>
      <div id="centerTRB"><a href="{{ webringUrl }}/webring/tropical-rice-bowl"><img src="https://file.garden/Z1rkYOKl12fQ7vD8/img/aaaaaa.png" style="width: 180px"></a></div>
      <a href="" id="nextTRB"><img src="{{ webringUrl }}/img/Illustration2.png" style="width: 50px; rotate: 180deg"></a>
    </div>
  {% else %}
    <div id='trb'><script src='{{ webringUrl }}/webring/tropical-rice-bowl/widget.js' defer></script></div>
    {% endif %}
  <script>if ($('#trb').length > 0 && $('#trb').html().includes("isn't part"))$('#trb').toggleClass('waiting');</script>
{% endmacro %}

{% macro gfdkris() %}
  {% set webringUrl = 'https://fabstarotcorner.neocities.org/webring' %}
  {% set webringName = 'GFDKWTFAW' %}
    <div id='gfdkris'>
    <div class="gfdkris-index">
      <a href="{{ webringUrl }}"><img src="/assets/images/webrings/gfdkris_main.png" alt="Main link to the {{ webringName }} webring"></a>
    </div>
    <div class="gfdkris-nav">
      <a id="gfdkris-prev" class="gfdkris-nav-btn" href=""><img src="/assets/images/webrings/gfdkris_nav.png" alt="Go to the previous site in the {{ webringName }} Ring"></a>
      <a id="gfdkris-rand" class="gfdkris-nav-btn" href=""><img src="/assets/images/webrings/gfdkris_rand.png" alt="Go to a random site in the {{ webringName }} Ring"></a>
      <a id="gfdkris-next" class="gfdkris-nav-btn" href=""><img src="/assets/images/webrings/gfdkris_nav.png" alt="Go to the next site in the {{ webringName }} Ring" class="img-next"></a>
    </div>
    </div>
  <script type='text/javascript' src='{{ webringUrl }}/onionring-variables.js'></script>
  <script type="text/javascript">setWebringSites(sites, 'gfdkris');</script>
{% endmacro %}

{% macro cookierun() %}
  {% set webringUrl = 'https://evehibi.nekoweb.org/ckwr' %}
  {% set webringName = 'Cookie Run' %}
    <div id="ckwr">
      <div class="webring-wrapper">
      <div class="webring-title"><a href='{{ webringUrl }}/'><img src="{{ webringUrl }}/logo.png" alt="Main link to the {{ webringName }} webring"></a></div>
        <div class="webring-flex">
        <div class="webring-prev"><a id='cookie-prev' href=""><img class="arrow-image" src="{{ webringUrl }}/w/a.png" alt="Go to the previous site in the {{ webringName }} webring"></a></div>
        <img class="webring-image" src="{{ webringUrl }}/c/burningspice.png">
        <div class="webring-next"><a id='cookie-next' href=""><img class="arrow-image" src="{{ webringUrl }}/w/a.png" alt="Go to the next site in the {{ webringName }} webring"></a></div>
      </div>
    </div>
    </div>
  <link rel="stylesheet" href="{{ webringUrl }}/dynamic.css">
  <script type="text/javascript" src="{{ webringUrl }}/var.js"></script>
  <script type="text/javascript">sites = sites.map((site) => site[0]); setWebringSites(sites, 'cookie');</script>
{% endmacro %}

{% macro amiga() %}
{% set webringUrl = 'https://nicois.gay/amiga' %}
  {% set webringName = 'Artists Making the Internet Gay' %}
  <div id="amiga">
    <table>
      <tr>
        <td class='webring-prev'><a id='amiga-prev' href='#'><img src="{{ webringUrl }}/A.M.I.G.A.%20left.svg" alt="Go to the previous site in the {{ webringName }} webring" width="50px"></a></td>
        <td class='webring-info'><center><a href='{{ webringUrl }}/members'><img src="{{ webringUrl }}/amiga%20button.svg" alt="Go to the member list in the {{ webringName }} webring" width="150px"></a></center></br>
        <span class='webring-links'>
          <a id='amiga-rand' href="">random</a> | <a href='{{ webringUrl }}/amiga-webring'>index</a> | <a href='https://garlic.garden/onionring/'>what is this?</a></span></td>
        <td class='webring-next'><a id='amiga-next' href=''><img class="img-next" src="{{ webringUrl }}/A.M.I.G.A.%20left.svg" alt="Go to the next site in the {{ webringName }}" width="50px"></a></td>
      </tr>
    </table>
  </div>
  <script type='text/javascript' src='{{ webringUrl }}/onionring-variables.js'></script>
  <script type='text/javascript'>setWebringSites(sites, 'amiga')</script>
{% endmacro %}

{% macro wii() %}
  <script src='https://jeith.com/assets/webring/wii-ring.js'></script><wii-ring site='https://bechnokid.neocities.org'></wii-ring>
{% endmacro %}

{% macro selfInsert() %}
  <div class="self-insert-webring p-2">
    <div class="row g-0">
      <div class="col-5 self-insert-img d-flex">
        <img src="https://files.catbox.moe/3yxyd8.jpg" alt="Image of Gilgamesh for the Self-insert Webring">
      </div>
      <div class="col-7 ps-2 text-center">
        <div class="self-insert-text p-1 h-100 d-flex align-items-center">
          <p><strong>Bechno Kid</strong> absolutely loves <strong>Gilgamesh</strong> from <strong>Final Fantasy</strong>!</p>
        </div>
      </div>
    </div>
    <div class="row g-0 self-insert-nav text-center mt-2 p-1">
      <p>| <a href="https://webring.koinuko.pink/members.php">Members List</a> |</p>
      <p>Part of the <a href="https://webring.koinuko.pink">Self-Insert Webring</a></p>
    </div>
  </div>
{% endmacro %}

{% macro persona() %}
{% set webringUrl = 'https://silly-beanz.neocities.org/personaring' %}
    <div id="p-ring">
      <div class="ring-container">
        <img src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/webrings/personaring.png" alt="" class="sona">
        <div class="persona-ring">
          <div class="name-tag">
            <div class="head"><span style="font-size: 25px">HELLO!</span><br>my name is:</div>
            <div class="namediv">Bechno</div>
            <div class="webring-info">part of the <a href="{{ webringUrl }}/home" title="join???">persona ring</a> :)</div>
          </div>
          <div class="direct">
          <a id='persona-prev' href=""><img src="https://file.garden/Z2NdXxm2rXGo4wAJ/personaring/L%20arrow.png" alt="Go to the previous site in the {{ webringName }} webring" class="prev"></a>
          <a id='persona-rand' href=""><img src="https://file.garden/Z2NdXxm2rXGo4wAJ/personaring/smiley.png" alt="Go to a random site in the {{ webringName }} webring" class="rand"></a>
          <a id='persona-next' href=""><img src="https://file.garden/Z2NdXxm2rXGo4wAJ/personaring/L%20arrow.png" alt="Go to the next site in the {{ webringName }} webring" class="img-next"></a>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='{{ webringUrl }}/onionring-variables.js'></script>
  <script type='text/javascript'>setWebringSites(sites, 'persona')</script>
{% endmacro %}

{% macro kingdomHearts() %}
  {% set webringName = 'Kingdom Hearts' %}
  {% set webringUrl = 'https://traversetown.neocities.org/khwr' %}
    <div id='khwr'>
      <table>
        <tr>
          <td>
          <div>
            <a href='{{ webringUrl }}/khwr'><img src="{{ webringUrl }}/khlogo.png" alt='Main link to the {{ webringName }} webring'></a><br>
            <a id='kh-prev' href='#'><img src="{{ webringUrl }}/arrowleft.png" alt='Go to the previous site in the {{ webringName }} webring'></a>&nbsp;
            <a id='kh-next' href='#'><img class='img-next' src="{{ webringUrl }}/arrowleft.png" alt='Go to the next site in the {{ webringName }} webring'></a>
          </div>
          </td>
        </tr>
      </table>
    </div>
  <script type='text/javascript' src='{{ webringUrl }}/onionring-variables.js'></script>
  <script type='text/javascript'>setWebringSites(sites, 'kh')</script>
{% endmacro %}

{% macro doodle() %}
  {% set webringUrl = 'https://evehibi.nekoweb.org/doodlering' %}
  {% set webringName = 'doodlering' %}
    <div id="doodlering">
      <div class="webring-wrapper">
        <div class="webring-title">
          <h2>doodlering! ✏</h2>
        </div>
        <div class="webring-flex">
          <div class="webring-prev">
          <a id='doodle-prev' href=""><img class="arrow-image" src="{{ webringUrl }}/arrow.png" alt="Go to the previous site in the {{ webringName }} webring"></a>
          </div>
          <img class="webring-image" src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/webrings/doodlering.png">
          <div class="webring-next">
          <a id='doodle-next' href=""><img class="arrow-image" src="{{ webringUrl }}/arrow.png" alt="Go to the next site in the {{ webringName }} webring"></a>
          </div>
        </div>
        <div class="webring-footer">
          <span class='webring-links'>
          <a id='doodle-rand' href='' aria-label="Go to a random site in the {{ webringName }} webring"> 🎲 </a>
          <a href='{{ webringUrl }}/' aria-label="Main link to the {{ webringName }} webring">➕ </a>
          <a href='https://garlic.garden/onionring/' target="_blank" aria-label="Go to the onionring.js site"> 🧅</a></span></td>
          </span>
        </div>
      </div>
    </div>
    <link rel='stylesheet' href='{{ webringUrl }}/onionring.css'>
  <script type='text/javascript' src='{{ webringUrl }}/onionring-variables.js'></script>
  <script type='text/javascript'>sites = sites.map((site) => site[0]); setWebringSites(sites, 'doodle')</script>
{% endmacro %}

{% macro jelly() %}
  <div class="jelly-world p-2">
    <div class="row g-0">
      <div class="col-5 jelly-world-img">
        <a href="https://jellyworld.neocities.org"><img src="/assets/images/webrings/jw_steak.png" alt="Main link to the Jelly World" title="Mmm...so tasty!"></a>
      </div>
      <div class="col-7 jelly-world-text d-flex align-items-center ps-2">
        <p><a href="/">Bechno Kid</a> has bonded with <strong>Jelly Well-Done Steak!</strong></p>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro wol(debug = false) %}
  {% set webringUrl = 'https://wolwebring.neocities.org' %}
  {% if debug %}
    <div id="wolwebring">
      <p><a href="#"><img src="{{webringUrl}}/left.png" alt="" style="width:20px;height:40px"></a> <a href="{{webringUrl}}"><img src="{{webringUrl}}/ff.png" alt="" style="width:100px;height:52px"></a> <a href="#"><img src="{{webringUrl}}/right.png" alt="" style="width:20px;height:40px"></a></p>
    </div>
  {% else %}
    <div id='wolwebring'><script type="text/javascript" src="{{ webringUrl }}/onionring-variables.js" defer></script><script type="text/javascript" src="{{ webringUrl }}/onionring-widget.js" defer></script></div>
  {% endif %}
{% endmacro %}

{% macro egg() %}
 {% set webringUrl = 'https://eggring.neocities.org' %}
 <div id="eggring" class="d-flex flex-column align-items-center p-2"></div>
 <script src="{{ webringUrl }}/js/hatring.js" defer></script><script src="{{ webringUrl }}/js/eggring-config.js" defer></script>
 <script defer></script>
{% endmacro %}