{% set imgPath = "/assets/images/webrings/" %}
{% set altMain = "Main link to the " %}
{% set altPrev = "Go to the previous site in the " %}
{% set altNext = "Go to the next site in the " %}
{% set altRand = "Go to a random site in the " %}

{# HELPER MACROS #}

{# params:
  - id: widget ID
  - name: webring name
  - urlPrev: previous URL in webring
  - url: index URL in webring
  - urlNext: next URL in webring
  - src: index image in webring
  - nav: navigation image in webring (points left)
#}
{% macro basic(params) %} {# one-line widgets #}
  {% set webringId = params.id or (params.name | slugify) %}
  {% set webringAlt = params.name + " webring" %}
  <div class="{{ webringId }} webring">
    {% if not params.button %}
      <a href="{{ params.urlPrev or "" }}" class="wr-prev webring-nav-btn"><img src="{{ params.nav }}" alt="{{ altPrev + webringAlt }}"></a>
    {% endif %}
    <a href="{{ params.url }}" class="webring-index webring-nav-btn mx-1"><img src="{{ params.src }}" alt="{{ altMain + webringAlt }}"></a>
    {% if not params.button %}
      <a href="{{ params.urlNext or "" }}" class="wr-next webring-nav-btn"><img src="{{ params.nav }}" class="img-next" alt="{{ altNext + webringAlt }}"></a>
    {% endif %}
  </div>
{% endmacro %}

{# params:
  - id: widget ID
  - name: webring name
  - url: webring URL
  - imgIndex: index image in webring
  - urlPrev: prev URL in webring
  - urlNext: next URL in webring
  - imgNav: image for navigating in webring
      - imgPrev: image for prev URL in webring
      - imgNext: image for next URL in webring
  - urlRand: random URL in webring
  - imgRand: image for random URL in webring
#}
{% macro widget(params) %} {# two-line widgets #}
  {% set webringAlt = params.name + " webring" %}
  <div class="{{ params.id }}">
    <div class="{{ params.id }}-index">
      <a href="{{ params.url }}"><img src="{{ params.imgIndex }}" alt="{{ altMain + webringAlt }}"></a>
    </div>
    <div class="{{ params.id }}-nav">
      <a href="" class="wr-prev {{ params.id }}-nav-btn">
        <img src="{{ params.imgPrev or params.imgNav }}" alt="{{ altPrev + webringAlt }}">
      </a>
      <a href="" class="wr-rand {{ params.id }}-nav-btn">
        <img src="{{ params.imgRand }}" alt="{{ altRand + webringAlt }}">
      </a>
      <a href="" class="wr-next {{ params.id }}-nav-btn">
        <img src="{{ params.imgNext or params.imgNav }}" alt="{{ altNext + webringAlt }}"{% if not params.imgNext %} class="img-next"{% endif %}>
      </a>
    </div>
  </div>
{% endmacro %}

{# ACTIVE WEBRINGS #}

{% macro acing() %}
  {% set webringParams = {
    name: 'Acing the Internet',
    src: imgPath + 'ace.png',
    url: 'https://acingtheinternet.netlify.app',
    nav: imgPath + 'ace_nav.gif',
    urlPrev: 'https://acingtheinternet.netlify.app/bechnokid/previous',
    urlNext: 'https://acingtheinternet.netlify.app/bechnokid/next'
  } %}
  {{ basic(webringParams) }}
{% endmacro %}

{% macro amiga() %}
  {% set url = 'https://nicois.gay/amiga' %}
  {% set name = 'Artists Making the Internet Gay' %}
  <div id="amiga">
    <table>
      <tr>
        <td><a class='wr-prev' href='#'><img src="{{ url }}/A.M.I.G.A.%20left.svg" alt="{{ altPrev + name }} webring" width="50px"></a></td>
        <td class='webring-info'><center><a href='{{ url }}/members'><img src="{{ url }}/amiga%20button.svg" alt="Go to the member list in the {{ name }} webring" width="150px"></a></center></br>
        <span class='webring-links'>
          <a id='amiga-rand' class="wr-rand" href="">random</a> | <a href='{{ url }}/amiga-webring'>index</a> | <a href='https://garlic.garden/onionring/'>what is this?</a></span></td>
        <td><a class='wr-next' href=''><img class="img-next" src="{{ url }}/A.M.I.G.A.%20left.svg" alt="{{ altNext + name }}" width="50px"></a></td>
      </tr>
    </table>
  </div>
  <script type='text/javascript' src='{{ url }}/onionring-variables.js'></script>
  <script type='text/javascript'>setWidget({ id: 'amiga', sites: sites })</script>
{% endmacro %}

{% macro cookierun() %}
  {% set url = 'https://evehibi.nekoweb.org/ckwr' %}
  {% set name = 'Cookie Run' %}
  <div id="ckwr">
    <div class="webring-wrapper">
    <div class="webring-title"><a href='{{ url }}/'><img src="{{ url }}/logo.png" alt="{{ altMain + name }} webring"></a></div>
      <div class="webring-flex">
        <div class="webring-prev"><a class='wr-prev' href=""><img class="arrow-image" src="{{ url }}/w/a.png" alt="{{ altPrev + name }} webring"></a></div>
        <div class="ckwr-tooltip"><img class="wr-img webring-image" src=""></div>
        <div class="webring-next"><a class='wr-next' href=""><img class="arrow-image" src="{{ url }}/w/a.png" alt="{{ altNext + name }} webring"></a></div>
      </div>
    </div>
    <div class="ckwr-tooltip-content" role="tooltip">
      <p>This is Bechno Kid's favorite cookie! When asked why they liked this cookie, they said:</p>
    </div>
  </div>
  <link rel="stylesheet" href="{{ url }}/dynamic.css">
  <script type="text/javascript" src="{{ url }}/var.js"></script>
  <script type="text/javascript">setWidget({ id: 'ckwr', sites: sites, imgUrl: 'https://evehibi.nekoweb.org/ckwr/c/CHANGEME.png' });</script>
{% endmacro %}

{% macro cuddler() %}
  {% set webringParams = {
    name: 'cuddler',
    src: imgPath + 'cuddler.png',
    url: 'https://cuddler-webring.netlify.app',
    button: true
  } %}
  {{ basic(webringParams) }}
{% endmacro %}

{% macro doodle() %}
  {% set url = 'https://evehibi.nekoweb.org/doodlering' %}
  {% set name = 'doodlering' %}
  <div id="doodlering">
    <div class="webring-wrapper">
      <div class="webring-title">
        <h2>doodlering! ✏</h2>
      </div>
      <div class="webring-flex">
        <div class="webring-prev">
        <a class='wr-prev' href=""><img class="arrow-image" src="{{ url }}/arrow.png" alt="{{ altPrev + name }} webring"></a>
        </div>
        <img class="webring-image" src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/webrings/doodlering.png">
        <div class="webring-next">
        <a class='wr-next' href=""><img class="arrow-image" src="{{ url }}/arrow.png" alt="{{ altNext + name }} webring"></a>
        </div>
      </div>
      <div class="webring-footer">
        <span class='webring-links'>
        <a class='wr-rand' href='' aria-label="{{ altRand + name }} webring"> 🎲 </a>
        <a href='{{ url }}/' aria-label="{{ altMain + name }} webring">➕ </a>
        <a href='https://garlic.garden/onionring/' target="_blank" aria-label="Go to the onionring.js site"> 🧅</a></span></td>
        </span>
      </div>
    </div>
  </div>
  <link rel='stylesheet' href='{{ url }}/onionring.css'>
  <script type='text/javascript' src='{{ url }}/onionring-variables.js'></script>
  <script type='text/javascript'>sites = sites.map((site) => site[0]); setWidget({ id: 'doodlering', sites: sites })</script>
{% endmacro %}

{% macro gfdkris() %}
  {% set webringParams = {
    id: 'gfdkris',
    name: 'GFDKWTFAW',
    url: 'https://fabstarotcorner.neocities.org/webring/',
    imgIndex: imgPath + "gfdkris_main.png",
    imgNav: imgPath + "gfdkris_nav.png",
    imgRand: imgPath + "gfdkris_rand.png"
  } %}
  {{ widget(webringParams) }}
  <script type='text/javascript' src='{{ webringParams.url }}onionring-variables.js'></script>
  <script type="text/javascript">setWidget({ id: 'gfdkris', sites: sites });</script>
{% endmacro %}

{% macro kingdomHearts() %}
  {% set name = 'Kingdom Hearts' %}
  {% set url = 'https://traversetown.neocities.org/khwr' %}
    <div id='khwr'>
      <table>
        <tr>
          <td>
          <div>
            <a href='{{ url }}/khwr'><img src="{{ url }}/khlogo.png" alt='{{ altMain + name }} webring'></a><br>
            <a class='wr-prev' href='#'><img src="{{ url }}/arrowleft.png" alt='{{ altPrev + name }} webring'></a>&nbsp;
            <a class='wr-next' href='#'><img class='img-next' src="{{ url }}/arrowleft.png" alt='{{ altNext + name }} webring'></a>
          </div>
          </td>
        </tr>
      </table>
    </div>
  <script type='text/javascript' src='{{ url }}/onionring-variables.js'></script>
  <script type='text/javascript'>setWidget({ id: 'khwr', sites: sites })</script>
{% endmacro %}

{% macro ladies() %}
  {% set webringParams = {
    name: 'Ladies of the Link',
    src: imgPath + 'ladiesofthelink.gif',
    url: 'https://ladiesofthe.link/',
    nav: imgPath + 'ladiesofthelink_nav.png',
    urlPrev: 'https://webri.ng/webring/ladiesofthelinks/previous?via=https://bechnokid.neocities.org',
    urlNext: 'https://webri.ng/webring/ladiesofthelinks/next?via=https://bechnokid.neocities.org'
  } %}
  {{ basic(webringParams) }}
{% endmacro %}

{% macro neocreatives() %}
  {% set webringParams = {
    name: 'NeoCreatives',
    src: imgPath + 'neocreatives.png',
    url: 'https://neocreatives.byethost5.com',
    button: true
  } %}
  {{ basic(webringParams) }}
{% endmacro %}

{% macro persona() %}
  {% set url = 'https://silly-beanz.neocities.org/personaring' %}
  <div id="p-ring">
    <div class="ring-container">
      <img src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/webrings/personaring.png" alt="" class="sona">
      <div class="persona-ring">
        <div class="name-tag">
          <div class="head"><span style="font-size: 25px">HELLO!</span><br>my name is:</div>
          <div class="namediv">Bechno</div>
          <div class="webring-info">part of the <a href="{{ url }}/home" title="join???">persona ring</a> :)</div>
          </div>
          <div class="direct">
            <a class='wr-prev' href=""><img src="https://file.garden/Z2NdXxm2rXGo4wAJ/personaring/L%20arrow.png" alt="{{ altPrev + name }} webring" class="prev"></a>
            <a class='wr-rand' href=""><img src="https://file.garden/Z2NdXxm2rXGo4wAJ/personaring/smiley.png" alt="{{ altRand + name }} webring" class="rand"></a>
            <a class='wr-next' href=""><img src="https://file.garden/Z2NdXxm2rXGo4wAJ/personaring/L%20arrow.png" alt="{{ altNext + name }} webring" class="img-next"></a>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='{{ url }}/onionring-variables.js'></script>
  <script type='text/javascript'>setWidget({ id: 'p-ring', sites: sites })</script>
{% endmacro %}

{% macro queercoded() %}
  {% set webringParams = {
    name: 'Queer Coded',
    src: imgPath + 'queercoded.png',
    url: 'https://neptune.monster/webring/',
    nav: imgPath + 'queercoded_nav.png',
    urlPrev: 'https://neptune.monster/webring/22.html',
    urlNext: 'https://neptune.monster/webring/24.html'
  } %}
  {{ basic(webringParams) }}
{% endmacro %}

{% macro rayman() %}
  {% set webringParams = {
    id: 'rayman',
    name: 'Rayman Ring',
    src: imgPath + 'rayman.png',
    url: 'https://edgyrabbid.neocities.org/Raymanring.HTML',
    nav: imgPath + 'rayman_nav.png',
    urlPrev: 'https://lapislabel.net',
    urlNext: 'https://nathanntan.neocities.org/'
  } %}
  {{ basic(webringParams) }}
{% endmacro %}

{% macro resource() %}
  {% set widgetUrl = "https://pixelsafari.neocities.org/webring/" %}
  {% set webringParams = {
    id: "resource-ring",
    url: widgetUrl,
    name: "Re:source",
    imgIndex: widgetUrl + "resourcering.png",
    imgPrev: widgetUrl + "resourceringprev.png",
    imgRand: widgetUrl + "resourceringrandom.png",
    imgNext: widgetUrl + "resourceringnext.png"
  } %}
  {{ widget(webringParams) }}
  <script type="text/javascript">setWidget({ id: "{{ webringParams.id }}" });</script>
{% endmacro %}

{% macro selfInsert() %}
  <div class="self-insert-webring p-2">
    <div class="row g-0">
      <div class="col-5 self-insert-img d-flex">
        <img src="https://files.catbox.moe/3yxyd8.jpg" alt="Image of Gilgamesh for the Self-insert Webring">
      </div>
      <div class="col-7 ps-2 text-center">
        <div class="self-insert-text p-1 h-100 d-flex align-items-center">
          <p><strong>Bechno Kid</strong> absolutely loves <strong>Gilgamesh</strong> from <strong>Final Fantasy</strong>!</p>
        </div>
      </div>
    </div>
    <div class="row g-0 self-insert-nav text-center mt-2 p-1">
      <p>| <a href="https://webring.koinuko.pink/members.php">Members List</a> |</p>
      <p>Part of the <a href="https://webring.koinuko.pink">Self-Insert Webring</a></p>
    </div>
  </div>
{% endmacro %}

{% macro tropical(debug = false) %}
  {% set url = 'https://astracelestine.nekoweb.org' %}
  {% if debug %}
    <div style="display: flex; gap: 8px" id="TRB">
      <a href="" id="prevTRB"><img src="{{ url }}/img/Illustration2.png" style="width: 50px"></a>
      <div id="centerTRB"><a href="{{ url }}/webring/tropical-rice-bowl"><img src="https://file.garden/Z1rkYOKl12fQ7vD8/img/aaaaaa.png" style="width: 180px"></a></div>
      <a href="" id="nextTRB"><img src="{{ url }}/img/Illustration2.png" style="width: 50px; rotate: 180deg"></a>
    </div>
  {% else %}
    <div id='trb'><script src='{{ url }}/webring/tropical-rice-bowl/widget.js' defer></script></div>
    {% endif %}
  <script>if ($('#trb').length > 0 && $('#trb').html().includes("isn't part"))$('#trb').toggleClass('waiting');</script>
{% endmacro %}

{% macro wii() %}
  {% set url = "https://jeith.neocities.org" %}
  {% set name = "Wii Ring" %}
  <div id="wii-ring">
    <a class="wr-main" href="{{ url }}/wii-ring">
      <img src="{{ url }}/assets/imgs/wii-ring.png" alt="{{ altMain }}{{ name }}">
    </a>
    <div class="wii-ring-nav">
      <a href="" class="wr-prev"><img src="{{ url }}/assets/imgs/prev.png" alt="{{ altPrev }}{{ name }}"></a>
      <img class="wr-img" src="" alt="{{ altRand }}{{ name }}">
      <a href="" class="wr-next"><img src="{{ url }}/assets/imgs/prev.png" class="img-next" alt="{{ altNext }}{{ name }}"></a>
    </div>
    <a href="" class="wr-rand"><img src="{{ url }}/assets/imgs/random.png" alt="{{ altRand }}{{ name }}"></a>
  </div>
  <script type='text/javascript'>setWidget({ id: 'wii-ring', jsonUrl: 'https://neocities.jeith.com/assets/miis.json', imgUrl: 'https://neocities.jeith.com/assets/miis/CHANGEME.png' })</script>
{% endmacro %}

{# INACTIVE WEBRINGS #}

{% macro jelly() %}
  <div class="jelly-world p-2">
    <div>
      <p><a href="/">Bechno Kid</a> has bonded with <strong>Jelly Well-Done Steak!</strong></p>
      <img class='my-1' src="/assets/images/webrings/jw_steak.png" alt="{{ altMain }}Jelly World" title="Mmm...so tasty!">
      <p class="jelly-world-desc">This jelly has the ability to boost your health and stamina! Mmm...so tasty!</p>
    </div>
    <div class="jelly-world-nav my-3 mb-2">
      <a href="" class="wr-rand button" aria-label="Go to a random site in Jelly World">RANDOM</a>
      <a href="https://jellyworld.neocities.org/pals" class="button" aria-label="Link to other sites to Jelly World">JELLY PALS</a>
    </div>
  </div>
  <script type="text/javascript">setWidget({ id: 'jelly-world', jsonUrl: 'https://miau.sadgrl.online/jellyworld/jellyworld.json', urlVar: 'owner_link', filter: true })</script>
{% endmacro %}

{% macro wol() %}
  {% set widgetUrl = "https://wolwebring.neocities.org/" %}
  {% set webringParams = {
    id: "wol",
    url: widgetUrl,
    title: "Warriors of Light",
    src: widgetUrl + "ff.png",
    nav: widgetUrl + "left.png"
  } %}
  {{ basic(webringParams) }}
  <script type="text/javascript" src="{{ widgetUrl }}onionring-variables.js"></script>
  <script type="text/javascript">setWidget({ id: "{{ webringParams.id }}", sites: sites });</script>
{% endmacro %}

{% macro pokering() %}
  {% set widgetUrl = 'https://dokodemo.neocities.org/pokering' %}
  {% set imgContainer = widgetUrl + '/ringwalker.png' %}
  {% set imgBox = widgetUrl + '/box_overlay.png' %}
  {% set imgBg = '/assets/images/webrings/pokering_bg.png' %}
  {% set imgPkmn = '/assets/images/webrings/pokering_splashy.png' %}
  <div class="pokering position-relative">
    <img src="https://dokodemo.neocities.org/pokering/ringwalker.png" class="pokering-walker position-relative" usemap="#pokering" alt="">
    <map name="pokering">
      <area alt="Main link to the Pokering webring" title="Main link to the Pokering webring" href="https://dokodemo.neocities.org/pokering" coords="63,22,152,47" shape="rect">
      <area class="wr-prev" alt="Go to the previous site in the Pokering webring" title="Go to the previous site in the Pokering webring" href="#" coords="60,166,13" shape="circle">
      <area class="wr-rand" alt="Go to a random site in the Pokering webring" title="Go to a random site in the Pokering webring" href="#" coords="108,173,17" shape="circle">
      <area class="wr-next" alt="Go to the next site in the Pokering webring" title="Go to the next site in the Pokering webring" href="#" coords="156,165,14" shape="circle">
    </map>
    {% img imgBg, { cls: 'position-absolute pokering-bg' } %}
    <input type="checkbox" name="pokering-info" class="position-absolute" id="pokering-info">
    <label for="pokering-info" id="pokering-info-label" class="position-absolute" aria-label="Show information about Splashy">{% img imgPkmn %}</label>
    <div class="pokering-info-box position-absolute p-2 text-center">
      <p class="m-0">Splashy was caught by Bechno on 12/31/2022.</p>
    </div>
  </div>
  <script type="text/javascript">setWidget({ id: 'pokering', jsonUrl: 'https://dokodemo.neocities.org/pokering/pokemembers.json' })</script>
{% endmacro %}