{% set imgPath = "/assets/images/webrings/" %}

{% macro basic(webring) %}
  <div class="webring">
    {# Previous link #}
      {% if webring.prevUrl %}
        {% set src = imgPath + webring.nav %}
        {% imgWithLink src, webring.prevUrl, { imgCls: 'me-1', alt: 'Go to previous link for the ' + webring.title + ' webring' } %}
      {% endif %}
    {# Index link #}
      {% set src = imgPath + webring.src %}
      {% imgWithLink src, webring.url, { alt: 'Main link to the ' + webring.title + ' webring' } %}
    {# Next link #}
      {% if webring.nextUrl %}
        {% set src = imgPath + webring.nav %}
        {% imgWithLink src, webring.nextUrl, { imgCls: 'ms-1', alt: 'Go to next link for the ' + webring.title + ' webring' } %}
      {% endif %}
  </div>
{% endmacro %}

{% macro resource(debug = false) %}
  {% set webringUrl = 'https://pixelsafari.neocities.org/webring' %}
  {% if debug %}
    <div id="resourceRing">
      <a href="{{ webringUrl }}"><img src="{{ webringUrl }}/resourcering.png" alt=""></a><br><a href="#"><img src="{{ webringUrl }}/resourceringprev.png" alt=""></a><a href="#"><img src="{{ webringUrl }}/resourceringrandom.png" alt=""></a><a href="#"><img src="{{ webringUrl }}/resourceringnext.png" alt=""></a>
    </div>
  {% else %}
    <div id="resourceRing"></div>
    <script type="text/javascript" src="{{ webringUrl }}/resourcering.js"></script>
  {% endif %}
{% endmacro %}

{% macro tropical(debug = false) %}
    {% set webringUrl = 'https://astracelestine.nekoweb.org' %}
  {% if debug %}
    <div style="display: flex; gap: 8px" id="TRB">
      <a href="#" id="prevTRB"><img src="{{ webringUrl }}/img/Illustration2.png" style="width: 50px"></a>
      <div id="centerTRB"><a href="{{ webringUrl }}/webring/tropical-rice-bowl"><img src="https://file.garden/Z1rkYOKl12fQ7vD8/img/aaaaaa.png" style="width: 180px"></a></div>
      <a href="#" id="nextTRB"><img src="{{ webringUrl }}/img/Illustration2.png" style="width: 50px; rotate: 180deg"></a>
    </div>
  {% else %}
    <div id='trb'><script src='{{ webringUrl }}/webring/tropical-rice-bowl/widget.js'></script></div>
    {% endif %}
  <script>if ($('#trb').length > 0 && $('#trb').html().includes("isn't part"))$('#trb').toggleClass('waiting');</script>
{% endmacro %}

{% macro gfdkris(debug = false) %}
  {% set webringUrl = 'https://fabstarotcorner.neocities.org/webring' %}
  {% if debug %}
    <div id='gfdkris'>
      <div class="kwtfaw-div">
      <a href="{{ webringUrl }}/sites.html" class="kwtfaw-top">
        <img class="kwtfaw-img" src="{{ webringUrl }}/assets/button/webringbutton.png">
        <img class="kwtfaw-img" src="{{ webringUrl }}/assets/button/bubble.svg" alt="kris where tf are we"/>
      </a>
      <div class="kwtfaw-controls">
      <a class="kwtfaw-button" href="#">
        <img class="kwtfaw-control" src="{{ webringUrl }}/assets/button/prev.svg" alt="prev"/>
      </a>
      <a class="kwtfaw-button" href='#'>
        <img class="kwtfaw-control" src="{{ webringUrl }}/assets/button/what.svg" alt="random"/> </a>
      <a class="kwtfaw-button" href="#">
        <img class="kwtfaw-control" src="{{ webringUrl }}/assets/button/next.svg" alt="next"/>  </a>
      </div>
    </div>
    <style>
    @font-face { font-family: deltarune; src: url('{{ webringUrl }}/deltarune.ttf'); }
    @font-face { font-family: determination; src: url('{{ webringUrl }}/DTM-Mono.otf'); }
    @font-face { font-family: mercy; src: url('{{ webringUrl }}/MERCY.otf'); }

      .kwtfaw-img{
          image-rendering: pixelated;
          image-rendering: -moz-crisp-edges;
          image-rendering: crisp-edges;
          margin:0px;
          width:100%;
      }
      .kwtfaw-top{
      display:flex;
      flex-direction:column;
      gap:0px;
      }

      .kwtfaw-div{
        font-family:determination;
        display:flex;
        flex-direction:column;
        justify-content:center;
        justify-items:center;
        align-items:center;
        gap:0px;
        max-width:150px;
      }

      #gfdkris{
      display:flex;
      justify-content:center;
      }

      kwtfaw-top{
        > *{
        gap:0px;
        margin:0px;
        padding:0px;}
      }

      .kwtfaw-controls{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        gap:5px;
        margin-top:2px;
        max-width:200px;
      }
      .kwtfaw-text{
        font-size:8px;
        letter-spacing:-1px;
        border: 1px solid white;
        background-color:black;
        padding:1px 3px 1px 3px;
        color:white;
      }

      .kwtfaw-button{
        font-size:9px;
        font-family:determination;
        color: #fb7f26 !important;
        border:solid 1px black;
        background-color:black;
        width:30%;
      }

      .kwtfaw-control{
          image-rendering: pixelated;
          image-rendering: -moz-crisp-edges;
          image-rendering: crisp-edges;
          width:100%;
      }

      .kwtfaw-button:visited{
      color: #fb7f26 !important;

      }

      .kwtfaw-button:hover{
        border:solid 1px #fb7f26;
      }
    </style>
    </div>
  {% else %}
    <div id='gfdkris'>
      <script type='text/javascript' src='{{ webringUrl }}/onionring-variables.js'></script><script type='text/javascript' src='{{ webringUrl }}/onionring-widget.js'></script>
    </div>
  {% endif %}
{% endmacro %}

{% macro cookierun(debug = false) %}
  {% if debug %}
    <div id="ckwr">
      <div class="webring-wrapper">
        <div class="webring-title">
          <a href='https://evehibi.nekoweb.org/ckwr/' target="_top"><img src="https://evehibi.nekoweb.org/ckwr/logo.png"></a>
        </div>
        <div class="webring-flex">
          <div class="webring-prev">
            <a href="#" target="_top">
              <img class="arrow-image" src="https://evehibi.nekoweb.org/ckwr/w/a.png">
            </a>
          </div>
          <img class="webring-image" src="https://evehibi.nekoweb.org/ckwr/c/burningspice.png">
          <div class="webring-next">
            <a href="#" target="_top">
              <img class="arrow-image" src="https://evehibi.nekoweb.org/ckwr/w/a.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="https://evehibi.nekoweb.org/ckwr/dynamic.css">
  {% else %}
    <div id="ckwr">
      <script type="text/javascript" src="https://evehibi.nekoweb.org/ckwr/var.js"></script>
      <script type="text/javascript" src="https://evehibi.nekoweb.org/ckwr/widget.js"></script>
      <link rel="stylesheet" href="https://evehibi.nekoweb.org/ckwr/dynamic.css">
    </div>
  {% endif %}
{% endmacro %}

{% macro amiga(debug = false) %}
{% set webringUrl = 'https://nicois.gay/amiga' %}
{% if debug %}
  <div id="amiga">
    <table>
      <tr>
        <td class='webring-prev'><a href='#'target="_top"><img src="{{ webringUrl }}/A.M.I.G.A.%20left.svg" alt="" width="50px"></a></td>
        <td class='webring-info'><center><a href='{{ webringUrl }}/members' target="_top"><img src="{{ webringUrl }}/amiga%20button.svg" alt="" width="150px"></a></center></br>
        <span class='webring-links'>
          <a href='javascript:void(0)' onclick='randomSite()'>random</a> | <a href='{{ webringUrl }}/amiga-webring'>index</a> | <a href='https://garlic.garden/onionring/'>what is this?</a></span></td>
        <td class='webring-next'><a href='#' target="_top"><img src="{{ webringUrl }}/A.M.I.G.A.%20right.svg" alt="" width="50px"></a></td>
      </tr>
    </table>
  </div>
{% else %}
  <div id='amiga'>
    <script type='text/javascript' src='{{ webringUrl }}/onionring-variables.js'></script><script type='text/javascript' src='{{ webringUrl }}/onionring-widget.js'></script>
  </div>
{% endif %}
{% endmacro %}

{% macro wii() %}
  <script src='https://jeith.com/assets/webring/wii-ring.js'></script><wii-ring site='https://bechnokid.neocities.org'></wii-ring>
{% endmacro %}

{% macro selfInsert() %}
  <div class="self-insert-webring p-2">
    <div class="row g-0">
      <div class="col-5 self-insert-img d-flex">
        <img src="https://files.catbox.moe/3yxyd8.jpg" alt="Image of Gilgamesh for the Self-insert Webring">
      </div>
      <div class="col-7 ps-2 text-center">
        <div class="self-insert-text p-1 h-100 d-flex align-items-center">
          <p><strong>Bechno Kid</strong> absolutely loves <strong>Gilgamesh</strong> from <strong>Final Fantasy</strong>!</p>
        </div>
      </div>
    </div>
    <div class="row g-0 self-insert-nav text-center mt-2 p-1">
      <p>| <a href="https://webring.koinuko.pink/members.php">Members List</a> |</p>
      <p>Part of the <a href="https://webring.koinuko.pink">Self-Insert Webring</a></p>
    </div>
  </div>
{% endmacro %}

{% macro persona(debug = false) %}
{% set webringUrl = 'https://silly-beanz.neocities.org/personaring' %}
  {% if debug %}
    <div id="p-ring">
      <div class="ring-container">
        <img src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/webrings/personaring.png" alt="" class="sona">
        <div class="persona-ring">
          <div class="name-tag">
            <div class="head"><span style="font-size: 25px">HELLO!</span><br>my name is:</div>
            <div class="namediv">Bechno</div>
            <div class="webring-info">part of the <a href="{{ webringUrl }}/home" title="join???">persona ring</a> :)</div>
          </div>
          <div class="direct">
            <a href="#"><img src="https://file.garden/Z2NdXxm2rXGo4wAJ/personaring/L%20arrow.png" alt="" class="prev"></a>
            <a href="#" onclick="randomSite()"><img src="https://file.garden/Z2NdXxm2rXGo4wAJ/personaring/smiley.png" alt="" class="rand"></a>
            <a href="#"><img src="https://file.garden/Z2NdXxm2rXGo4wAJ/personaring/R%20arrow.png" alt="" class="next"></a>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div id='p-ring'><script type='text/javascript' src='{{ webringUrl }}/onionring-variables.js'></script><script type='text/javascript' src='{{ webringUrl }}/onionring-widget.js'></script></div>
  {% endif %}
{% endmacro %}

{% macro kingdomHearts(debug = false) %}
  {% if debug %}
    <div id='khwr'>
      <table>
        <tr>
          <td>
            <center>
              <a href='https://traversetown.neocities.org/khwr/khwr'><img src="https://traversetown.neocities.org/khwr/khlogo.png" alt=''></a><br>
              <a href='#'><img src="https://traversetown.neocities.org/khwr/arrowleft.png" alt=''></a>
              <a href='#'><img src="https://traversetown.neocities.org/khwr/arrowright.png" alt=''></a>
            </center>
          </td>
        </tr>
      </table>
    </div>
  {% else %}
    <div id='khwr'><script type='text/javascript' src='https://traversetown.neocities.org/khwr/onionring-variables.js'></script><script type='text/javascript' src='https://traversetown.neocities.org/khwr/onionring-widget.js'></script></div>
  {% endif %}
{% endmacro %}

{% macro doodle(debug = false) %}
  {% set webringUrl = 'https://evehibi.nekoweb.org/doodlering' %}
  {% if debug %}
    <div id="doodlering">
      <div class="webring-wrapper">
        <div class="webring-title">
          <h2>doodlering! ✏</h2>
        </div>
        <div class="webring-flex">
          <div class="webring-prev">
            <a href="#" target="_top">
              <img class="arrow-image" src="https://evehibi.nekoweb.org/doodlering/arrow.png">
            </a>
          </div>
          <img class="webring-image" src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/webrings/doodlering.png">

          <div class="webring-next">
            <a href="#" target="_top">
              <img class="arrow-image" src="https://evehibi.nekoweb.org/doodlering/arrow.png">
            </a>
          </div>
        </div>
        <div class="webring-footer">
          <span class='webring-links'>
            <a href='#' onclick='RandomDoodle()' target="_top"> 🎲 </a>
            <a href='https://evehibi.nekoweb.org/doodlering/' target="_top">➕ </a>
            <a href='https://garlic.garden/onionring/' target="_blank"> 🧅</a></span></td>
          </span>
        </div>
      </div>
    </div>
    <link rel='stylesheet' href='{{ webringUrl }}/onionring.css'>
  {% else %}
    <div id='doodlering'><script type='text/javascript' src='{{ webringUrl }}/onionring-variables.js'></script><script type='text/javascript' src='{{ webringUrl }}/onionring-widget.js'></script><link rel='stylesheet' href='{{ webringUrl }}/onionring.css'></div>
  {% endif %}
{% endmacro %}

{% macro jelly() %}
  <div class="jelly-world p-2">
    <div class="row g-0">
      <div class="col-5 jelly-world-img">
        <a href="https://jellyworld.neocities.org"><img src="/assets/images/webrings/jw_steak.png" alt="A jelly that looks like the Well-Done Steak from the Monster Hunter game franchise" title="Mmm...so tasty!"></a>
      </div>
      <div class="col-7 jelly-world-text d-flex align-items-center ps-2">
        <p><a href="/">Bechno Kid</a> has bonded with <strong>Jelly Well-Done Steak!</strong></p>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro wol(debug = false) %}
  {% set webringUrl = 'https://wolwebring.neocities.org' %}
  {% if debug %}
    <div id="wolwebring">
      <p><a href="#"><img src="{{webringUrl}}/left.png" alt="" style="width:20px;height:40px"></a> <a href="{{webringUrl}}"><img src="{{webringUrl}}/ff.png" alt="" style="width:100px;height:52px"></a> <a href="#"><img src="{{webringUrl}}/right.png" alt="" style="width:20px;height:40px"></a></p>
    </div>
  {% else %}
    <div id='wolwebring'><script type="text/javascript" src="{{ webringUrl }}/onionring-variables.js"></script><script type="text/javascript" src="{{ webringUrl }}/onionring-widget.js"></script></div>
  {% endif %}
{% endmacro %}

{% macro egg() %}
 {% set webringUrl = 'https://eggring.neocities.org' %}
 <div id="eggring" class="d-flex flex-column align-items-center p-2"></div>
 <script src="{{ webringUrl }}/js/hatring.js"></script><script src="{{ webringUrl }}/js/eggring-config.js"></script>
 <script></script>
{% endmacro %}