{% set imgPath = "/assets/images/webrings" %}
{% set alt_main = "Main link to the " %}
{% set alt_prev = "Go to the previous site in the " %}
{% set alt_next = "Go to the next site in the " %}
{% set alt_rand = "Go to a random site in the " %}

{# Params for button-only webrings

{% set webring_params = {
  id: "id(optional)",
  name: "Webring name",
  url: ""
} %}
#}

{# Params for one-line widgets
  - "prev", "index", and "next" can also be strings only

{% set webring_params = {
  id: "id(optional)",
  name: "Webring Name",
  simple: true,
  nav: {
    prev: {
      text: "",
      alt: "only use if text is a symbol like <-",
      src: "",
      url: "use # if using script to replace links"
    },
    index: {
      text: "",
      alt: "only use if text is a symbol like +",
      src: "",
      url: ""
    },
    next: {
      text: "",
      alt: "only use if text is a symbol like ->",
      src: "",
      url: "use # if using script to replace links"
    }
  }
} %}
#}

{# Params for multi-line widgets

{% set webring_params = {
  id: "id(optional)",
  name: "webring_name",
  src: "use only if btn has image path",
  url: "",
  title: {
    text: "",
    src: "",
    url: ""
  },
  nav: {
    prev: {
      text: "",
      alt: "only use if text is a symbol like <-",
      src: "",
      url: "use # if using script to replace links"
    },
    index: {
      random: false,
      hide: false,
      btnOnly: false,
      text: "",
      alt: "only use if text is a symbol like +",
      src: "",
      url: "replace with # if random = true, else use any other url"
    },
    next: {
      noFlip: false,
      text: "",
      alt: "only use if text is a symbol like ->",
      src: "",
      url: "use # if using script to replace links"
    }
  },
  links: {
    separator: "(optional) pipe or dash",
    random: {
      text: "",
      src: ""
    },
    index: {
      text: "",
      src: ""
    },
    onion: {
      text: "",
      src: ""
    }
  }
} %}
#}

{# HELPER MACROS #}

{% macro widget_button(params) %}
  {% if params.src %}
    {% img params.src, { url: params.url, cls: "btn index",   alt: params.alt or (alt_main + params.name + " webring") } %}
  {% else %}
    {% imgDiv { url: params.url, cls: "btn index", alt: params.alt or (alt_main + params.name + " webring") } %}
  {% endif %}
{% endmacro %}

{% macro widget_simple(params) %}
  {# PREVIOUS LINK #}
  {% set webring_alt_prev = params.nav.prev.alt or (alt_prev + params.name + " webring") %}
  {% if params.nav.prev.src %}
    {% img params.nav.prev.src, { cls: "prev", url: params.nav.prev.url or params.nav.prev, alt: webring_alt_prev } %}
  {% elif params.nav.prev.text %}
    {% link params.nav.prev.url, params.nav.prev.text, { cls: "prev", alt: webring_alt_prev } %}
  {% else %}
    {% imgDiv { cls: "prev", url: params.nav.prev.url or params.nav.prev, alt: webring_alt_prev } %}
  {% endif %}

  {# CENTER LINK #}
  {% if not params.nav.index.hide %} {# If index btn must be hidden #}
    {% set webring_alt_main = params.nav.index.alt or (alt_main + params.name + " webring") %}

    {% if params.nav.index.random %} {# If index btn should be made into random link btn #}
      {% set webring_alt_rand = params.nav.index.alt or (alt_rand + params.name + " webring") %}
      <a class="link-rand" href="#">
        {% if params.nav.index.src %} {# If index btn has img path #}
          {% img params.nav.index.src, { cls: "rand", alt: webring_alt_rand } %}
        {% elif params.nav.index.text %}
          {% link params.nav.index.url, params.nav.index.text, { cls: "rand", alt: webring_alt_rand } %}
        {% else %} {# Else, make it into a div bg #}
          {% imgDiv { cls: "rand", alt: webring_alt_rand } %}
        {% endif %}
      </a>
    {% elif params.nav.index.btnOnly %}
      {% if params.nav.index.src %}
        {% img params.nav.index.src, { cls: "index", alt: webring_alt_main } %}
      {% else %}
        {% imgDiv { cls: "index", alt: webring_alt_main } %}
      {% endif %}
    {% else %}
      {% if params.nav.index.src %} {# If index btn has img path #}
        {% img params.nav.index.src, { cls: "index", url: params.nav.index.url or params.nav.index, alt: webring_alt_main } %}
      {% elif params.nav.index.text %}
        {% link params.nav.index.url, params.nav.index.text, { cls: "index", alt: webring_alt_main } %}
      {% else %} {# Else, make it into a div bg #}
        {% set index_url = parmas.nav.index.url or params.nav.index %}
        {% if index_url %}
          {% imgDiv { cls: "index", url: params.nav.index.url or params.nav.index, alt: webring_alt_main } %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {# Next link #}
  {% set next_cls = "next" if not params.nav.next.noFlip else "" %}
  {% set webring_alt_next = params.nav.next.alt or (alt_next + params.name + " webring") %}

  {% if params.nav.next.src %}
    {% img params.nav.next.src, { cls: next_cls, url: params.nav.next.url or params.nav.next, alt: alt_next + params.name + " webring" } %}
  {% elif params.nav.next.text %}
    {% link params.nav.next.url, params.nav.next.text, { cls: next_cls, alt: params.nav.next.alt } %}
  {% else %}
    {% imgDiv { cls: next_cls, url: params.nav.next.url or params.nav.next, alt: alt_next + params.name + " webring" } %}
  {% endif %}
{% endmacro %}

{% macro widget(params, btn_only = false) %}
  <div class="{{ params.id or (params.name | slugify) }} webring">
    {% if btn_only %}
      {{ widget_button(params) }}
    {% elif params.simple %} {# One-line widget: <- |Button| -> #}
      {{ widget_simple(params) }}
    {% else %} {# Multiple-line Widget #}
      {% if params.title %}
        <div class="webring-title">
          {% if params.title.src %}
            {% img params.title.src, { url: params.title.url, alt: params.name + " webring"} %}
          {% elif params.title.text %}
            {% if params.title.url %}
              {% link params.title.url, params.title.text %}
            {% else %}
              {{ params.title.text }}
            {% endif %}
          {% else %}
            {% imgDiv { alt: params.name + " webring", url: params.title.url } %}
          {% endif %}
        </div>
      {% endif %}
      <div class="webring-nav">
        {{ widget_simple(params) }}
      </div>
      {% if params.links %}
        <div class="webring-links">
          <ul {% if params.links.separator %}class="separator {{ params.links.separator }}"{% endif %}>
            {# Random link #}
            {% if params.links.random %}
              <li>
                <a class="link-rand" href="#">
                  {% if params.links.random.src %}
                    {% img params.links.random.src, { cls: "rand", alt: alt_rand + params.name + " webring" } %}
                  {% elif params.links.random.text %}
                    {{ params.links.random.text }}
                  {% else %}
                    {% imgDiv { cls: "rand", alt: alt_rand + params.name + " webring" } %}
                  {% endif %}
                </a>
              </li>
            {% endif %}

            {# Index or members list link #}
            {% if params.links.index %}
              <li>
                <a href="{{ params.links.index.url }}">
                  {% if params.links.index.src %}
                    {% img params.links.index.src, { cls: "index", alt: alt_main + params.name + " webring" } %}
                  {% elif params.links.index.text %}
                    {{ params.links.index.text }}
                  {% else %}
                    {% imgDiv { cls: "index", alt: alt_main + params.name + " webring" } %}
                  {% endif %}
                </a>
              </li>
            {% endif %}

            {# Onionring link (if applicable) #}
            {% if params.links.onion %}
              <li>
                <a href="https://garlic.garden/onionring/">
                  {% if params.links.onion.src %}
                    {% img params.links.onion.src, { cls: "onion", alt: "Link to the onionring website" } %}
                  {% elif params.links.onion.text %}
                    {{ params.links.onion.text }}
                  {% else %}
                    {% imgDiv { cls: "onion", alt: "Link to the onionring website" } %}
                  {% endif %}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  </div>
  {% if params.script_url %}
    <script type="text/javascript" src="{{ params.script_url }}"></script>
    {% if not params.custom_sites %}
      <script>webringLinks["{{ params.id or (params.name | slugify ) }}"] = sites;</script>
    {% else %}
      {% if params.override %}
        <script>webringLinks["{{ params.id or (params.name | slugify ) }}"] = { override: true, sites: sites }</script>
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}

{# ACTIVE WEBRINGS #}

{% macro acing() %}
  {% set webring_params = {
    simple: true,
    id: 'ace',
    name: 'Acing the Internet',
    nav: {
      prev: "https://acingtheinternet.netlify.app/bechnokid/previous",
      index: 'https://acingtheinternet.netlify.app',
      next: "https://acingtheinternet.netlify.app/bechnokid/next"
    }
  } %}
  {{ widget(webring_params) }}
{% endmacro %}

{% macro amiga(btn_only = false) %}
  {% set webring_url = "https://nicois.gay/amiga" %}
  {% set webring_params = {
      id: "amiga",
      name: "AMIGA: Artists Making the Internet Gay",
      src: webring_url + "/amiga%20button.svg",
      url: webring_url,
      script_url: "https://nicois.gay/amiga/onionring-variables.js",
      nav: {
        prev: { src: webring_url + "/A.M.I.G.A.%20left.svg", url: "#" },
        index: {
          src: webring_url + "/amiga%20button.svg",
          url: webring_url + "/members",
          alt: "Go to the member list in the AMIGA webring"
        },
        next: { src: webring_url + "/A.M.I.G.A.%20left.svg", url: "#" }
      },
      links: {
        separator: "pipe",
        random: { text: "random" },
        index: { text: "index", url: webring_url + "/amiga-webring" },
        onion: { text: "what is this?", url: "https://garlic.garden/onionring/" }
      }
    } %}

  {{ widget(webring_params, btn_only) }}
{% endmacro %}

{% macro cookie_run(btn_only = false) %}
  {% set webring_params = {
    id: "ckwr",
    name: "Cookie Run",
    url: "https://evehibi.nekoweb.org/ckwr"
  } %}

  {% if btn_only %}
    {{ widget(webring_params, true) }}
  {% else %}
    <div class="{{ webring_params.id }}">
      <div class="cookie-wrapper">
        <div class="cookie-tooltip">
          {% img "/assets/images/webrings/crwr_icon.png", { cls: "cookie-icon", aria: { hidden: true } } %}
        </div>
        <div class="nav">
          <a href="{{ webring_params.url }}">
            {% imgDiv { cls: "logo", alt: "Main link to the Cookie Run webring" } %}
          </a>
          <div class="arrows">
            <a href="" class="wr-prev">
              {% imgDiv { cls: "prev", alt: "Go to the next link in the Cookie Run webring" } %}
            </a>
            <a href="" class="wr-next">
              {% imgDiv { cls: "next", alt: "Go to the next link in the Cookie Run webring" } %}
            </a>
          </div>
        </div>
      </div>
      <div class="cookie-tooltip-content" role="tooltip">
        <p>This is Bechno Kid's favorite cookie! When asked why they liked this cookie, they said: "I love his design and story so much! He makes me sob but in a good way!"</p>
      </div>
    </div>
    <script type="text/javascript" src="{{ webring_params.url }}/var.js"></script>
    <script>webringLinks['{{ webring_params.id }}'] = sites.map((site) => "https://" + site[0])</script>
  {% endif %}
{% endmacro %}

{% macro doodle(btn_only = false) %}
  {% set webring_url = 'https://evehibi.nekoweb.org/doodlering' %}
  {% set webring_params = {
    name: "doodlering",
    url: webring_url,
    script_url: "https://evehibi.nekoweb.org/doodlering/onionring-variables.js",
    custom_sites: true,
    title: {
      text: "doodlering! ✏",
      url: webring_url
    },
    nav: {
      prev: "#",
      index: {
        src: "https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/webrings/doodlering.png",
        url: webring_url + "/members"
      },
      next: "#"
    },
    links: {
      separator: "space",
      random: { text: "🎲" },
      index: { text: "➕", url: webring_url },
      onion: { text: "🧅" }
    }
  } %}
  {{ widget(webring_params, btn_only) }}
  <script>webringLinks["{{ webring_params.name }}"] = sites.map((site) => site[0]);</script>
{% endmacro %}

{% macro gfdkris(btn_only = false) %}
  {% set webring_url = "https://fabstarotcorner.neocities.org/webring/" %}
  {% set webring_params = {
    id: "gfdkris",
    name: "GFDKWTFAW",
    url: webring_url,
    script_url: "https://fabstarotcorner.neocities.org/webring/onionring-variables.js",
    title: {
      url: webring_url
    },
    nav: {
      prev: "#",
      index: { random: true },
      next: "#"
    }
  } %}
  {{ widget(webring_params, btn_only) }}
{% endmacro %}

{% macro kingdom_hearts(btn_only = false) %}
  {% set webring_url = 'https://kingdomheartswebring.neocities.org' %}
  {% set webring_params = {
    id: "khwr",
    name: "Kingdom Hearts",
    url: webring_url,
    script_url: "https://kingdomheartswebring.neocities.org/onionring-variables.js",
    title: { url: webring_url },
    nav: { prev: "#", next: "#" }
  } %}
  {{ widget(webring_params, btn_only) }}
{% endmacro %}

{% macro ladies() %}
  {% set webring_params = {
    id: "ladies",
    name: "Ladies of the Link",
    simple: true,
    nav: {
      prev: "https://webri.ng/webring/ladiesofthelinks/previous?via=https://bechnokid.neocities.org",
      index: "https://ladiesofthe.link/",
      next: "https://webri.ng/webring/ladiesofthelinks/next?via=https://bechnokid.neocities.org"
    }
  } %}
  {{ widget(webring_params) }}
{% endmacro %}

{% macro neocreatives(btn_only = false) %}
  {% set webring_url = "https://neocreatives.byethost5.com" %}
  {% set webring_params = {
    name: "Neocreatives",
    url: webring_url,
    script_url: "https://neocreatives.neocities.org/onionring-variables.js",
    nav: {
      prev: "#",
      index: {
        url: webring_url + "/directory.php",
        alt: "Go to the list of members in the Neocreatives webring"
      },
      next: "#"
    },
    links: {
      separator: "dash",
      random: { text: "random" },
      index: {
        text: "index",
        url: webring_url
      }
    }
  } %}
  {{ widget(webring_params, btn_only) }}
{% endmacro %}

{% macro persona(btn_only = false) %}
  {% set webring_params = {
    id: "p-ring",
    name: "persona ring",
    url: "https://silly-beanz.neocities.org/personaring"
  } %}

  {% if btn_only %}
    {{ widget(webring_params, true) }}
  {% else %}
    <div class="{{ webring_params.id }} webring">
      <div class="ring-container">
        <img src="{{ imgPath }}/personaring.png" alt="" class="sona outline" aria-hidden="true">
        <div class="persona-ring">
          <div class="d-flex flex-column flex-gap-1">
            <div class="name-tag">
              <div class="head"><span style="font-size: 25px">HELLO!</span><br>my name is:</div>
              <div class="namediv">Bechno</div>
              <div class="webring-info">part of the <a href="{{ webring_params.url }}/home" title="join???">{{ webring_params.name }}</a> :)</div>
            </div>
            <div class="nav d-flex justify-content-center align-items-center flex-gap-1">
              <a href="">
                {% imgDiv { cls: "prev black-text", alt: alt_prev + webring_params.name + " webring" } %}
              </a>
              <a class='link-rand' href="">
                {% imgDiv { cls: "rand black-text", alt: alt_rand + webring_params.name + " webring" } %}
              </a>
              <a href="">
                {% imgDiv { cls: "next black-text", alt: alt_next + webring_params.name + " webring" } %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='{{ webring_params.url }}/onionring-variables.js'></script>
    <script>webringLinks['p-ring'] = sites</script>
  {% endif %}
{% endmacro %}

{% macro queercoded() %}
  {# "prev", "index", and "next" can also be strings only #}
  {% set webring_params = {
    name: "Queercoded",
    simple: true,
    nav: {
      prev: "https://neptune.monster/webring/22.html",
      index: "https://neptune.monster/webring/",
      next: "https://neptune.monster/webring/24.html"
    }
  } %}
  {{ widget(webring_params) }}
{% endmacro %}

{% macro rayman() %}
  {% set webring_params = {
    simple: true,
    id: "rayman",
    name: "Rayman Ring",
    nav: {
      prev: "https://lapislabel.net",
      index: "https://edgyrabbid.neocities.org/Raymanring.HTML",
      next: "https://nathanntan.neocities.org/"
    }
  } %}
  {{ widget(webring_params) }}
{% endmacro %}

{% macro resource(btn_only = false) %}
  {% set webring_url = "https://pixelsafari.neocities.org/webring/" %}
  {% set webring_params = {
    id: "resource-ring",
    name: "re:source",
    url: webring_url,
    title: {
      url: webring_url
    },
    nav: {
      prev: "#",
      index: { random: true },
      next: "#"
    }
  } %}
  {{ widget(webring_params, btn_only) }}
  <script>webringLinks["{{ webring_params.id }}"] = RESOURCERINGLIST;</script>
{% endmacro %}

{% macro self_insert() %}
  <div class="self-insert webring p-2">
    <div class="row g-0">
      <div class="col-5 self-insert-img d-flex">
        <img src="/assets/images/webrings/self-insert_icon.png" alt="Image of Gilgamesh for the Self-insert Webring">
      </div>
      <div class="col-7 ps-2 text-center">
        <div class="self-insert-text p-1 h-100 d-flex align-items-center">
          <p><strong>Bechno Kid</strong> absolutely loves <strong>Gilgamesh</strong> from <strong>Final Fantasy</strong>!</p>
        </div>
      </div>
    </div>
    <div class="row g-0 self-insert-nav text-center mt-2 p-1">
      <p>| <a href="https://webring.koinuko.pink/members.php">Members List</a> |</p>
      <p>Part of the <a href="https://webring.koinuko.pink">Self-Insert Webring</a></p>
    </div>
  </div>
{% endmacro %}

{% macro tropical(debug = false) %}
  {% set url = 'https://astracelestine.nekoweb.org' %}
  {% if debug %}
    <div style="display: flex; gap: 8px" id="TRB">
      <a href="" id="prevTRB"><img src="{{ url }}/img/Illustration2.png" style="width: 50px"></a>
      <div id="centerTRB"><a href="{{ url }}/webring/tropical-rice-bowl"><img src="https://file.garden/Z1rkYOKl12fQ7vD8/img/aaaaaa.png" style="width: 180px"></a></div>
      <a href="" id="nextTRB"><img src="{{ url }}/img/Illustration2.png" style="width: 50px; rotate: 180deg"></a>
    </div>
  {% else %}
    <div id='trb'><script src='{{ url }}/webring/tropical-rice-bowl/widget.js' defer></script></div>
    {% endif %}
  <script>if ($('#trb').length > 0 && $('#trb').html().includes("isn't part"))$('#trb').toggleClass('waiting');</script>
{% endmacro %}

{% macro wii(btn_only = false) %}
  {% set webring_url = "https://jeith.com/wii-ring" %}
  {% set webring_params = {
    id: "wii-ring",
    name: "Wii Ring",
    url: webring_url,
    title: { url: webring_url },
    nav: {
      prev: "#",
      index: webring_url,
      next: "#"
    },
    links: {
      random: true
    }
  } %}

  {{ widget(webring_params, btn_only)}}
{% endmacro %}

{# INACTIVE WEBRINGS #}

{% macro jelly() %}
  {% set webring_name = "Jelly World" %}
  <div class="{{ webring_name | slugify }} webring py-3 px-2 d-flex flex-column flex-gap-3">
    <p class="jw-bond"><a href="/">Bechno Kid</a> has bonded with <strong>Jelly Well-Done Steak!</strong></p>
    <img src="{{ imgPath }}/jw_steak.png" alt="{{ alt_main + webring_name }}" title="Mmm...so tasty!">
    <p class="jw-desc">This jelly has the ability to boost your health and stamina! Mmm...so tasty!</p>
    <div class="jw-nav py-1">
      <a href="" class="link-rand button" aria-label="{{ alt_rand + webring_name }}">RANDOM</a>
      <a href="https://jellyworld.neocities.org/pals" class="button" aria-label="Link to other sites to Jelly World">JELLY PALS</a>
    </div>
  </div>
  <script>
    $.ajax({
      url: "https://miau.sadgrl.online/jellyworld/jellyworld.json",
      success: function(data) {
        webringLinks["{{ webring_name | slugify }}"] = { override: true, sites: data.map((item) => item.owner_link) };
      },
      fail: function(data) {
        console.error("Error found in Jelly World: ", error);
      }
    })
  </script>
{% endmacro %}

{% macro wol() %}
  {% set webring_url = "https://wolwebring.neocities.org/" %}
  {% set webring_params = {
    id: "wol",
    name: "Warriors of Light",
    simple: true,
    script_url: "https://wolwebring.neocities.org/onionring-variables.js",
    nav: {
      prev: "#",
      index: webring_url,
      next: "#"
    }
  } %}
  {{ widget(webring_params) }}
{% endmacro %}

{% macro pokering() %}
  {% set webring_url = 'https://dokodemo.neocities.org/pokering' %}
  {% set webring_name = "Pokering" %}
  <div class="{{ webring_name | slugify }}">
    {% imgDiv { url: webring_url, cls: "title", alt: alt_main + webring_name + " webring" } %}
    <div class="screen position-relative">
      <input type="checkbox" name="info-checkbox" id="info-checkbox"></input>
      <label for="info-checkbox">{% imgDiv { cls: "pokemon", alt: "Click for more information" } %}</label>
      <div class="steps">
        <p class="m-0 text-right">1004</p>
      </div>
      <div class="info-box">
        <p class="m-0">Splashy was caught by Bechno on 12/31/2022.</p>
      </div>
    </div>
    <div class="nav">
      {% imgDiv { url: "#", cls: "prev", alt: alt_prev + webring_name + " webring" } %}
      {% imgDiv { url: "#", urlCls: "link-rand", cls: "rand", alt: alt_rand + webring_name + " webring" } %}
      {% imgDiv { url: "#", cls: "next", alt: alt_next + webring_name + " webring" } %}
    </div>
  </div>
  <script>
    $.ajax({
      url: "https://dokodemo.neocities.org/pokering/pokemembers.json",
      success: function(data) {
        webringLinks["{{ webring_name | slugify }}"] = { override: true, sites: data.map((item) => item.url) };
      },
      fail: function(error) {
        console.error('Error found in Pokering: ', error)
      }
    })
  </script>
{% endmacro %}