<!DOCTYPE html>
<html lang={{ meta.lang }} data-theme="light">
<head>
  {% include "partials/head.html" %}
  <script src="{{ meta.jsUrl }}/bechnoQuery.js"></script>
  {% if freezeframe %}<script src="{{ meta.jsUrl }}/freezeframe.js"></script>{% endif %}
  {% if code %}<link rel="stylesheet" href="{{ meta.cssUrl }}/highlight.css">{% endif %}
  <script src="{{ meta.jsUrl }}/script.js" crossorigin="anonymous"></script>
  {% block css %}<link rel="stylesheet" href="{{ meta.cssUrl }}/bechno.css" type="text/css" media="all">{% endblock css %}
  <noscript><link rel="stylesheet" href="{{ meta.cssUrl }}/no-script.css" type="text/css" media="all"></noscript>
  {% if prism %}<link rel="stylesheet" href="{{ meta.cssUrl }}/prismJS.css" type="text/css" media="all" id="prismJS">{% endif %}
  <title>{% if title != null %}{{ title }} - {% endif %}{{ meta.name }}</title>
</head>
<body class='position-relative'>
  <details class="burger">
    <summary class="py-2 text-background" aria-label="Open Navigation Menu"></summary>
  </details>
  <div class="container-fluid d-flex justify-content-center p-0">
    <details class="burger">
      <summary class="burger-summary d-flex align-items-center px-2 py-3" aria-label="Navigation Menu"></summary>
      <nav><div class="sidebar pb-2 pb-lg-0">{% include "partials/navigation.html" %}</div></nav>
    </details>
    <div class="page bg-body">
      <a href="/home"><header class="bg-body"><span class="hidden">Navigate to the home page</span></header></a>
      <div class="bg-body main desktop">
        <div class="row g-0">
          <nav id="nav-main" class="col-lg-2">
            <div class="sidebar">{% include "partials/navigation.html" %}</div>
          </nav>
          <main id="main-content" class="offset-lg-2 col{{ "-lg-10" if title !="Home" }} px-2 px-lg-4 py-lg-3 position-relative" tabindex="-1">
            {% include 'partials/theme-switcher.html' %}
            {% block content %}{% endblock %}
            <div class="back-to-top{% if noScroll == "true" or noScroll == true %} mobile-only{% endif %}"><a href="#" aria-label="Scroll to Top">{% icon 'arrow-up' %}</a></div>
          </main>
          {% if title == "Home" %}<aside class="col-lg-2 px-2 px-lg-0 my-3 my-lg-0">{% include "partials/homepage/updates.html" %}</aside>{% endif %}
        </div>
      </div>
      {% include 'partials/footer.html' %}
    </div>
  </div>
  {% if freezeframe %}
  <script>
    $(document).ready(function () {
      const e = new Freezeframe({ trigger: false, responsive: false });
      $(".play-gif").on("click", function () { e.start() });
      $(".stop-gif").on("click", function () { e.stop() });
    });
  </script>
  {% endif %}
</body>
</html>