{% extends "layouts/base.html" %}

{% set page_header_title = title %}
{% set page_header_summary %}
  {% if imgDate %}<time datetime="{{ imgDate }}" class="text-primary">{{ imgDate | monthDayYear }}</time>{% endif %}
  {% if summary %}{{ summary | markdownify | safe }}{% endif %}
{% endset %}
{% set outgoing_page_warning = hasLinks %}

{% block content %}
  <article class="mb-md-0 mb-2 position-relative {{ (shortTitle or title) | lower | slugify }}">
    {% if title != "Home" %}{% include "partials/page-header.html" %}{% endif %}
    {{ content | safe }}
  </article>
{% endblock %}