{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = summary | markdownify | safe %}
{% set pageFreezeframe = freezeframe %}
{% set pageCSS = css %}

{% block css %}
<link rel="stylesheet" href="{{ meta.cssURL }}/{{ pageCSS or "basic" }}.css" type="text/css" media="all">
{% endblock %}

{% block content %}
  <article class="mb-lg-0 mb-2">
    {% include "partials/page-header.html" %}
    <div class="mt-4">{{ content | safe }}</div>
  </article>
{% endblock %}