---
noScroll: true
---
{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content | markdownifyInline | safe %}
{% set postListItems = pagination.items %}
{% set lastUpdated = (collections.feed | reverse)[0].date | monthDayYear %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
    {%- for item in postListItems %}
    {% set blogDate = item.date | monthDayYear %}
    <div class="blog row py-1">
      <div class="col-md-8 col-7">
        <a href="{{ item.url }}">{{ item.data.title | markdownifyInline | safe }}</a>
        {% if blogDate == lastUpdated %}
          {% icon 'new' %}
        {% endif %}
      </div>
      <div class="col-md-4 col-5">{{ blogDate }}</div>
    </div>
    {% endfor %}
    {% include "partials/pagination.html" %}
  </article>
{% endblock %}