---
permalink: '/writing/blog/{{ page.fileSlug }}.html'
---
{% set date = page.date %}
{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title | markdownifyInline | safe %}
{% set pageHeaderSummary %}
  <time class="text-primary" datetime="{{ date | local }}">{{ date | monthDayYear }}</time>
  {% if summary %}<p>{{ summary | markdownifyInline | safe }}</p>{% endif %}
{% endset %}

{% block css %}
  <link rel="stylesheet" href="{{ meta.cssUrl }}/blog.css" type="text/css" media="all">
{% endblock css %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
    <div class="my-4 blog">
      {{ content | safe }}
    </div>
  </article>
  {% include "partials/go-back.html" %}
{% endblock %}