{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary %}
  <time datetime="{{ date | w3DateFilter}}">{{ date | dayOfMonth }}</time>
{% endset %}

{% block css %}
  <link rel="stylesheet" href="{{ main.cssURL }}/blog.css" type="text/css" media="all">
{% endblock css %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
    <div class="my-4">{{ content | safe }}</div>
  </article>
  {% include "partials/go-back.html" %}
{% endblock %}