{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content | markdownifyInline | safe %}
{% set postListItems = pagination.items %}

{% block css %}
  <link rel="stylesheet" href="{{ meta.cssUrl }}/blog.css" type="text/css" media="all">
{% endblock css %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
    {% if title == 'Microblog' %}
      <div id='microblog' class='sidebar px-3'>
        {%- for entry in postListItems %}
          <p class="d-flex align-items-center">{% if entry.mood %}{% emoticon entry.mood %}{% else %}{% emoticon 'normal' %}{% endif %}<strong>{{ entry.date | monthDayYear }}</strong></p>
          <p>{{ entry.content | markdownifyInline | safe }}</p>
          {% if loop.index != loop.length %}
            <hr class="small">
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      {%- for item in postListItems %}
      <div class="blog row py-1">
        <div class="col-lg-8 col-7"><a href="{{ item.url }}">
          {{ item.data.title | markdownifyInline | safe }}
        </a></div>
        <div class="col-lg-4 col-5">{{ item.data.date | monthDayYear }}</div>
      </div>
      {% endfor %}
    {% endif %}
    {% include "partials/pagination.html" %}
  </article>
{% endblock %}