{% extends "layouts/base.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ main.cssURL }}/home.css" type="text/css" media="all">
{% endblock css %}
{% block content %}
  <div class="content">
    {{ content | safe }}
    <div class="h3 intro-links text-center mt-4">
      <a href="/feed.xml">RSS Feed</a><span class="mx-2">✦</span><a href="/faq">FAQ</a><span class="mx-2">✦</span><a href="https://users3.smartgb.com/g/g.php?a=s&i=g36-38260-51">Guestbook</a>
    </div>
    <hr>
    <section class="row g-3 mb-3">
      <div class="col-lg-6 order-lg-1 order-2">
        <div class="sidebar h-100">
          <div class="h2 p-2">Link Me!</div>
          <div class="content p-2 text-center">
            <p>Feel free to hotlink!</p>
            <img class="mt-2" src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/button.png" alt="Page button for Bechno Kid's Hideout">
          </div>
        </div>
      </div>
      <div class="status col-lg-6 order-lg-2 order-1 mb-3 mb-lg-0">
        <div class="sidebar h-100">
          <div class="h2 p-2">Latest Status</div>
          <div class="content p-2">
            {% set status = microblog.microblog[0] %}
            <div class="mb-1"><b>{{ status.date | monthDayYear }}</b> || Mood: {{ status.mood }}</div>
            <p>{{ status.content | safe }}</p>
          </div>
        </div>
      </div>
    </section>
    {% include "partials/homepage/cliques.html" %}
  </div>
{% endblock %}