{% extends "layouts/base.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ meta.cssURL }}/home.css" type="text/css" media="all">
{% endblock css %}
{% block content %}
  <div class="content">
    {{ content | safe }}
    <div class="h3 intro-links text-center mt-4">
      <a href="/sitemap">Sitemap</a><span class="mx-2">✦</span><a href="/feed.xml">RSS Feed</a><span class="mx-2">✦</span><a href="/guestbook">Guestbook</a>
    </div>
    <hr>
    <div class="status-row row g-lg-3 mb-3">
      <div class="col-lg-6 order-lg-1 order-2">
        <div class="sidebar h-100">
        <div class="h2 p-2">Link Me!</div>
          <div class="content p-2 text-center d-flex flex-column">
            <p class="m-0 mt-2">Feel free to hotlink!</p>
            <div><img class="mt-2" src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/button.png" alt="Page button for Bechno Kid's Hideout"></div>
          </div>
        </div>
      </div>
      <div class="status col-lg-6 order-lg-2 order-1 mb-3 mb-lg-0">
        <div class="sidebar h-100">
          <div class="h2 p-2">Latest Status</div>
          <div class="content p-2">
            {% set status = microblog.microblog[0] %}
            <div class="mb-1"><b>{{ status.date | monthDayYear }}</b> || Mood: {{ status.mood }}</div>
            <p class="m-0">{{ status.content | markdownifyInline | safe }}</p>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/homepage/cliques.html" %}
  </div>
{% endblock %}