---
noScroll: true
---
{% extends "layouts/base.html" %}

{% set page_header_title = title %}
{% set page_header_summary = content | markdownify | safe %}
{% set pageCollection = pagination.items %}

{% block content %}
  <article class="landing-page">
    {% include "partials/page-header.html" %}
    {% if sideImg %}
      <div class="row">
        <div class="col-4 d-flex justify-content-end">
          <img class="side-img" src="/assets/images/{{ sideImg }}" aria-hidden="true" alt="">
        </div>
        <div class="col-8">
    {% endif %}
      {% if title == "Artwork" %}
        <ul class="gallery-list">
          {%- for item in pageCollection | sortCollectionByDisplayOrder %}
            <li>
              {% set link_title = item.data.title or item.title %}
              <a href="/art/{{ item.shortTitle or item.title | slugify }}">{{ link_title }}</a>
              {% if link_title in meta.updated %}{% icon "updated" %}{% elif link_title in meta.new %}{% icon "new" %}{% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <dl {% if not sideImg %}class="ms-4"{% endif %}>
          {%- for item in pageCollection | sortCollectionByDisplayOrder %}
            {% set link_title = item.data.title or item.title %}
            <dt>
              <a href="{{ item.url }}">{{ link_title }}</a>
              {% if link_title in meta.updated %}{% icon "updated" %}{% elif link_title in meta.new %}{% icon "new" %}{% endif %}
              {% if item.data.warning %}
              <span class="text-muted">(Warning: Flashing graphics)</span>
              {% endif %}
            </dt>
            <dd>{{ (item.data.description or "No description") | markdownify | safe }}</dd>
          {% endfor %}
        </dl>
      {% endif %}
    {% if sideImg %}
      </div>
    </div>
    {% endif %}
  </article>
{% endblock content %}