---
noScroll: true
---
{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content | safe %}
{% set pageCollection = pagination.items %}

{% block content %}
  <article class="landing-page">
    {% include "partials/page-header.html" %}
    {% if sideImg %}
    <div class="row">
      <div class="col-4 d-flex justify-content-end">
        <img class="side-img" src="/assets/images/{{ sideImg }}" aria-hidden="true" alt="">
      </div>
      <div class="col-8">
    {% endif %}
      <dl {% if not sideImg %}class="ms-4"{% endif %}>
        {%- for item in pageCollection | sortCollectionByDisplayOrder %}
          {% set pageUrl = item.url or '/art/' + (item.shortTitle or item.title) | slugify %}
          {% set linkTitle = item.data.title or item.title %}
          <dt class="h3">
            <a href="{{ pageUrl }}">{{ linkTitle }}</a>
            {% if linkTitle in meta.updated %}{% icon "updated" %}{% elif linkTitle in meta.new %}{% icon "new" %}{% endif %}
            {% if item.data.warning %}
            <span class="text-muted">(Warning: Flashing graphics)</span>
            {% endif %}
          </dt>
          <dd>{{ (item.data.description or item.content) | markdownify | safe }}</dd>
        {% endfor %}
      </dl>
    {% if sideImg %}
      </div>
    </div>
    {% endif %}
  </article>
{% endblock content %}