{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content | safe %}
{% set pageCollection = pagination.items %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
    <ul>
      {%- for item in pageCollection | sortCollectionByDisplayOrder %}
      <dl>
        <dt class="h3">
          <a href="{{ item.url }}">{{ item.data.title }}</a>
          {% if item.data.warning %}
          <span class="text-muted">(Warning: Flashing graphics)</span>
          {% endif %}
        </dt>
        <dd>{{ item.data.description | markdownify | safe }}</dd>
      </dl>
      {% endfor %}
    </ul>
  </article>
{% endblock content %}