@import "_reset.css";

@font-face {
  font-family: 'Dyslexic';
  src: url(/assets/fonts/OpenDyslexic-Regular.otf)
}

:root {
    --bg-sidebar: #fffffe;
    --text-body: #0e172c;
    --text-primary: #a50e5a;
    --text-secondary: #7122aa;
    --text-link: var(--text-secondary);
}

body {
  color: var(--text-body);
  background: var(--bg-sidebar);
  accent-color: var(--text-secondary);
}

h1 {
  font-family: 'Dyslexic';
  font-weight: 100;
  color: var(--text-primary);
}

.content {
  font-family: Verdana;
  font-size: .8em;
}

.nav-links {
  font-family: 'Dyslexic';
  font-size: 1.5em;

  a {
    color: var(--text-link);

    &:focus-visible {
      padding: 0 .5rem;
    }
  }
}