.fav-box {
  max-width: 100px;
  text-align: center;
  font-size: .8em;
  line-height: .8rem;

  p {
    margin: .25rem 0;
  }

  .name {
    margin: .25rem 0;
  }

  .ff-container {
    justify-content: center;
  }
}

.favorite-monsters {
  display: flex;
  flex-direction: column;

  img {
    height: 53px;
    object-fit: none;
  }

  .content {
    flex-grow: 1;
    justify-content: center;
    gap: 1rem;

    .fav-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.favorite-digimon .freezeframe {
  display: flex;
  flex-wrap: wrap;
  row-gap: .5rem;
  column-gap: 1rem;
  justify-content: center;
}

.quiz-results {
  .gallery-box {
    display: flex;
    overflow-x: auto;
    padding: 1rem;
    align-items: center;
    gap: 1rem;

    & > * {
      flex: 1 0 auto;
    }
  }

  .text-widget {
    max-width: 400px;

    &.mh-sunbreak {
      .desc {
        flex-shrink: 1.2;
      }
    }

    .img {
      width: 100%;
    }

    .text {
      margin-top: .5rem;
      font-size: .8em;
      line-height: 1.5em;
    }
  }
}


.fangirling {
  .sidebar {
    & > .h3 {
      margin: 0;
      border: 0;
      padding: .5rem .75rem;
      background: var(--bg-heading);
    }
  }

  .favs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .75rem;
    padding: .75rem;

    &.other {
      max-height: 350px;
      overflow-y: auto;
    }
  }

  section:has(h2#ships) {
    .sidebar {
      ul {
        font-size: .9em;
      }

      .content {
        max-height: 250px;
        overflow-y: auto;
      }

      summary.media {
        margin-bottom: .5rem;
        padding: 0 .5rem;
        color: var(--text-secondary);
        background-color: var(--bg-secondary);
        border-radius: .25rem;
        text-align: center;
        font-weight: bold;
      }

      .emoji {
        font-size: 1rem;
      }

      details.ship-info {
        summary {
          display: block;
          text-decoration: underline;
          text-decoration-style: dotted;
        }

        p {
          background-color: var(--bg-body);
          padding: .25rem .5rem;
          border-radius: .5rem;
          margin: .25rem 0 0 -1rem;
          font-size: .7rem;
          line-height: 1rem;
        }
      }
    }

    .legend {
      .emoji {
        font-size: 1.25rem;
      }
    }
  }
}

.identity-btns {
  summary {
    background: var(--bg-heading);
    padding: .25rem .5rem;
    font-family: "Dyslexic";
    font-size: 1rem;
    color: var(--text-primary);
  }
}

a.uwu:hover img {
  opacity: 1 !important;
  cursor: var(--img-cursor), auto;
}

@media screen and (max-width: 991px) {
  .fangirling {
    .other.favs-container {
      max-height: 482px;
    }
  }
}

@media screen and (max-width: 576px) {
  .fangirling {
    .other.favs-container {
      max-height: unset;
    }

    details.info {
      p {
        font-size: .8rem;
      }
    }
  }
}