.fav-box {
  max-width: 100px;
  text-align: center;
  font-size: .8em;
  line-height: .8rem;

  p {
    margin: 0;
  }

  .name {
    margin: .25rem 0;
  }

  .ff-container {
    justify-content: center;
  }
}

.monsters img {
  height: 53px;
  object-fit: none;
}

.digimon .freezeframe {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.fangirling {
  .sidebar {
    & > .h3 {
      margin: 0;
      border: 0;
      padding: .5rem .75rem;
      background: var(--bg-heading);
    }
  }

  .favs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .75rem;
    padding: .75rem;

    &.other {
      max-height: 334px;
      overflow-y: auto;
    }
  }

  section.ships {
    .sidebar {
      ul {
        font-size: .9em;
      }

      .content {
        max-height: 250px;
        overflow-y: auto;
      }

      summary.media {
        margin-bottom: .5rem;
        padding: 0 .5rem;
        color: var(--text-secondary);
        background-color: var(--bg-secondary);
        border-radius: .25rem;
        text-align: center;
        font-weight: bold;
      }

      .emoji {
        font-size: 1rem;
      }

      details.info {
        summary {
          display: block;
          text-decoration: underline;
          text-decoration-style: dotted;
        }

        p {
          background-color: var(--bg-body);
          padding: .25rem .5rem;
          border-radius: .5rem;
          margin: .25rem 0 0 -1rem;
          font-size: .7rem;
          line-height: 1rem;
        }
      }
    }

    .legend {
      .emoji {
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .fangirling {
    .other.favs-container {
      max-height: 482px;
    }
  }
}

@media screen and (max-width: 577px) {
  .fangirling {
    .other.favs-container {
      max-height: unset;
    }

    details.info {
      p {
        font-size: .8rem;
      }
    }
  }
}