.pagination {
  font-family: 'Dyslexic';
  font-size: 1.25em;
  margin-bottom: 1rem;

  a {
    color: var(--text-link-visited);
    text-decoration: none;
    border-bottom-color: transparent !important;

    &:hover span {
      text-decoration: underline;
    }
  }
}

.blog {
  figure {
    max-width: 200px;
    padding: .5rem;

    &.figure-landscape {
      max-width: 400px;
    }

    &.figure-lg {
      max-width: fit-content;
    }

    &.dr-strange {
      width: unset;
      max-width: 350px !important;
    }
  }

  figcaption {
    padding: 0 .25rem;
    font-size: .85em;
  }
}

.blog-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .25rem;
  margin: 1rem 0;

  > figure {
    width: 200px;
  }

  > .landscape {
    width: 300px;
  }

  > .bg-center .figure-div {
    background-position: center !important;
  }

  noscript .sidebar {
    height: 350px;
  }

  noscript iframe {
    width: 100%;
    height: 100%;
  }
}

.blog.row:hover {
  background-color: var(--bg-footer);
}


.candy {
  figure {
    width: 150px;
  }

  img {
    height: 100px;
  }
}

.rilla-box {
  width: 240px;
  height: 320px;
  border: 1px solid #fccdda;
  background-color: #ffffff;

   .carousel-column {
    height: 150px;
  }
}

.valentines:hover {
  cursor: var(--img-cursor-point), pointer;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 70px solid var(--bg-footer);

  p {
    width: 70px !important;
    margin-left: -2.15rem;
    margin-top: 2rem;
    font-size: .8em;
    line-height: 1.25em;
  }
}

map:hover {
  cursor: var(--img-cursor-point), pointer;
}

img.hank {
  width: 400px;
}

textarea.key-map {
  float: left;
  width: 300px;
  height: 230px;
  font-size: small;
  margin-right: 20px
}

article#microblog {
  #status-cafe-widget hr {
    margin: 0 !important;
  }
}
