.page header {
  position: fixed;
  width: min(1000px, 100%);
  z-index: 100;
  height: 150px;
  border: 5px solid var(--bg-body);
  background-image: url(/assets/images/header.jpg), linear-gradient(to right, var(--bg-footer), var(--bg-footer));
  background-position: var(--img-header);
  z-index: 125;
}

@media only screen and (max-width: 768px) {
  .page header {
    position: static;
    width: revert;
    height: 160px;
    background-position: 67% 0;
  }

  [data-theme="dark"] .page header {
    background-position: 50% 100%;
  }
}