.page header {
  position: fixed;
  width: 1000px;
  z-index: 100;
  height: 150px;
  border: 5px solid var(--bg-body);
  background-image: url(/assets/images/header.jpg), linear-gradient(to right, var(--bg-footer), var(--bg-footer));
  background-position: var(--img-header);
  z-index: 125;
}

.page > a:focus-visible {
  border: 0;
}

.page > a:hover header,
.page > a:focus-visible header {
  border-color: var(--text-primary);
}

@media screen and (max-width: 991px) {
  .page header {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .page header {
    position: static;
    width: revert;
    height: 160px;
    background-position: 67% 0;
  }

  [data-theme="dark"] .page header {
    background-position: 50% 100%;
  }
}