/* General styles*/
article.joined {
  table,
  #trb.waiting {
    font-size: .8em;
  }

  table,
  table td {
    border: 0;
  }

  tr {
    background-color: initial !important;
  }
}

ul.separator {
  &.pipe li:not(:last-child)::after {
    content: "|"
  }

  &.dash li:not(:last-child)::after {
    content: "-"
  }

  &.space li:not(:last-child)::after {
    content: " "
  }

  li:not(:last-child)::after {
    margin: 0 .25rem;
  }
}

.webrings {
  .row.js-required > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .5rem;
    gap: 1rem;
  }
}

.webring {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .25rem;

  &:has(.webring-nav) {
    flex-direction: column;
  }

  a {
    text-decoration: underline !important;

    &:not(.button) {
      border-bottom: 0 !important;
    }

    &:hover {
      text-decoration: none !important;
    }

    &:has(img) {
      display: inline-flex;
    }

    &[href*="http"]::after {
      display: none !important;
    }
  }

  .pending {
    border: 1px solid var(--border-sidebar);
    background: var(--bg-body);
    padding: 0 1rem;
    max-width: 150px;
    font-size: 0.9em;
    text-align: center;
  }

  .webring-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding: 0;

    li {
      display: inline-flex;
      padding: 0;

      &::marker {
        content: "";
      }
    }
  }
}

.next {
  transform: scaleX(-1);
}

div.waiting {
  border: 1px solid var(--border-sidebar);
  padding: .5rem;

  * {
    padding: 0;
  }

  > p,
  > div {
    font-size: .8em;
    margin: 0;
  }
}

#webring-btn-container {
  a:has(img) {
    display: inline-flex;
  }
}

/* Cliques */
[data-theme="dark"] {
  .type-master span {
    color: #bdbdbd;
  }
}

.cliques {
  .type-master {
    display: block !important;

    img {
      vertical-align: middle;
    }

    span {
      color: #5e1742;
    }
  }
}

/* Acing the Internet */
.ace {
  .index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/ace.png)
  }

  .prev,
  .next {
    width: 16px;
    height: 14px;
    background: url(/assets/images/webrings/ace.png) 0 -31px;
  }
}

/* AMIGA webring */
#webring-btn-container img[src*="amiga"] {
  height: 31px;
}

.amiga {
  font-size: .8em;

  img {
    max-height: 100px;
  }
}

/* Cookie Run Webring */
.ckwr .btn {
  height: 31px;
  background: url(/assets/images/webrings/cookie-run.png) -112px 0;
  width: 88px;
}

.ckwr:not(:has(.btn)) {
  position: relative;
  width: 180px;
  height: 120px;
  background: url(/assets/images/webrings/crwr_bg.png);
  background-size: cover;
  border: 4px solid #0d0f11;
  border-radius: 1rem;

  .cookie-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &:has(.cookie-icon:hover) .cookie-tooltip-content{
    opacity: 1;
    z-index: 100;
  }

  .cookie-tooltip {
    width: 50%;
    display: flex;
    justify-content: end;

    div[role="img"] {
      height: 64px;
      height: 64px;
    }
  }

  .cookie-tooltip-content {
    opacity: 0;
    z-index: -10;
    position: absolute;
    top: 0;
    left: -1rem;
    width: 50vw;
    border: 1px solid #0d0f11;
    border-radius: .25rem;
    background: #fff;
    color: #0d0f11;
    line-height: 1rem;
    font-size: .7rem;
    padding: .25rem .5rem;

    > * {
      margin: 0;
    }
  }

  a {
    .logo {
      width: 86px;
      height: 34px;
      background: url(/assets/images/webrings/cookie-run.png) -26px 0;
      opacity: .5;
    }

    &:hover .logo {
      opacity: 1;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding: .25rem;
    gap: .5rem;

    .arrows {
      display: flex;
      justify-content: space-evenly;

      .wr-next {
        margin-top: 1rem;
      }

      div[role="img"] {
        height: 38px;
        width: 26px;
        background: url(/assets/images/webrings/cookie-run.png)
      }
    }
  }
}

[data-theme="dark"] #ckwr {
  outline: 1px solid #fff;
}

/* doodlering */
.doodlering {
  &:not(:has(.btn)) {
    background: url(/assets/images/webrings/doodle-ring.png);
    background-position: top center;
    padding: .25rem .5rem;
    font-family: Comic Sans MS, cursive;
    font-size: 1.1rem;
  }

  a {
    color: #000;
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .btn {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/doodle-ring.png) -39px -125px;
  }

  .webring-title {
    font-weight: bold;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }

  .webring-nav {
    .prev,
    .next {
      width: 39px;
      height: 31px;
      background: url(/assets/images/webrings/doodle-ring.png) 0 -125px;
    }

    .index {
      height: 64px;
    }
  }
}

/* GFDKWTFAW Ring */
.gfdkris .btn {
  width: 88px;
  height: 31px;
  background: url(/assets/images/webrings/gfdkris.png) 0 -64px;
}

.gfdkris {
  .webring-title div[role="img"] {
    width: 175px;
    height: 64px;
    background: url(/assets/images/webrings/gfdkris.png);
  }

  .webring-nav {
    width: 100%;
    justify-content: space-between !important;
    padding: 0 1px;

    div[role="img"] {
      width: 38px;
      height: 22px;
    }

    a {
      padding: .2rem;
      background-color: #000;
      border: 1px solid #000 !important;

      &:hover {
        border: 1px solid #fb7f26 !important;

        div {
          opacity: 1;
        }
      }
    }

    .prev {
      background: url(/assets/images/webrings/gfdkris.png) -88px -64px;
    }

    .rand {
      background: url(/assets/images/webrings/gfdkris.png) -126px -64px;
    }

    .next {
      background: url(/assets/images/webrings/gfdkris.png) -88px -64px;
    }
  }
}

[data-theme="dark"] {
  .gfdkris {
    .webring-nav {
      a {
        border: 1px solid #fb7f26 !important;

        &:hover {
          border-color: yellow !important;
        }
      }
    }
  }
}

/* Gummy Ring */

.gummy {
  .webring-title [role="img"] {
    width: 57px;
    height: 58px;
    background: url('/assets/images/webrings/gummyring.png');
  }

  .webring-nav {
    .prev,
    .next {
      width: 21px;
      height: 13px;
      background: url('/assets/images/webrings/gummyring.png') -57px -15px;
    }

    .index {
      width: 87px;
      height: 15px;
      background: url('/assets/images/webrings/gummyring.png') -57px 0;
    }
  }
}

/* Jelly World */
.jelly-world {
  text-align: center;
  font-family: Arial;
  width: 180px;
  border: 3px dotted orange;
  background: url('/assets/images/webrings/jw_bg.png');
  background-color: #fcee95;
  line-height: 1rem;

  * {
    color: initial;
  }

  img {
    background: #fff;
    object-fit: contain;
    width: 80px;
    margin: 0 auto;
  }

  .jw-bond {
    a {
      &:visited {
        color: #da6200;
        font-weight: bold;
      }
    }
  }

  .jw-desc {
    font-style: italic;
  }

  .jw-nav {
    a {
      border: 1px solid #8F8F9D !important;
      padding: .25rem;
      background-color: #E9E9ED;
      color: #000;
      font-weight: normal;
      text-decoration: none !important;

      &:hover {
        border-color: #676774 !important;
        background-color: #D0D0D7;
      }

      &:visited {
        color: #000;
      }
    }
  }
}

/* Kingdom Hearts Webring */
.khwr {
  &:has(.btn) {
    .btn {
      width: 88px;
      height: 31px;
      background: url(/assets/images/webrings/kingdom-hearts.png) -195px -202px;
    }
  }

  &:not(:has(.btn)) {
    background: url(/assets/images/webrings/kingdom-hearts.png);
    background-color: #ffeded;
    padding: 1rem;
    border: 2px ridge #fc8476;
  }

  .webring-title div {
    width: 195px;
    height: 110px;
    background: url(/assets/images/webrings/kingdom-hearts.png) 0 -202px;
  }

  .webring-nav {
    padding: .25rem 0;

    .prev,
    .next {
      width: 42px;
      height: 28px;
      background: url(/assets/images/webrings/kingdom-hearts.png) -195px -233px;
    }
  }
}

/* Ladies of the Link */
.ladies {
  .index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/ladiesofthelink.png) -17px 0;
  }

  .prev,
  .next {
    width: 17px;
    height: 31px;
    background: url(/assets/images/webrings/ladiesofthelink.png);
  }
}

/* Neocreatives Webring */
.neocreatives {
  font-family: MS UI Gothic;
  color: #4b3d44;

  a,
  a:visited {
    color: #4b3d44;
  }

  .index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/neocreatives.png) -15px 0;
  }

  .prev,
  .next {
    width: 15px;
    height: 15px;
    background: url(/assets/images/webrings/neocreatives.png);
  }
}

[data-theme="dark"] .neocreatives {
  color: #ecdde5;

  a {
    color: #ecdde5;
  }
}

/* personaring */
.p-ring {
  .btn {
    height: 31px;
    background: url(/assets/images/webrings/persona.png);
    width: 88px;
  }

  .ring-container {
    position: relative;
    text-align: center;
  }

  .sona {
    position: absolute;
    left: -5.5rem;
    top: .5rem;
    max-width: 110px;
    z-index: 10 !important;
  }

  .persona-ring {
    font-family: "Shantell Sans", cursive;
    width: 170px;
    margin-right: -4rem;
  }

  .name-tag {
    border: 2px solid #000;
    border-radius: 8px;
    overflow: hidden;
  }

  .name-tag .head,
  .name-tag .webring-info {
    background: #e84e8f;
    color: #fff;
  }

  .name-tag .head {
    font-size: 1.25em;
    font-weight: bold;
    padding: .5rem 0 .25rem;
  }

  .namediv {
    padding: .75rem;
    font-size: 1.75em;
    font-weight: bold;
    color: #000;
    background: #fff;
  }

  .webring-info {
    font-size: .8em;
    padding: .1rem .5rem .25rem;
  }

  .webring-info a {
    color: #000;
    border-bottom-color: transparent;
  }

  .nav {
    .prev,
    .next {
      width: 30px;
      height: 17px;
      background: url(/assets/images/webrings/persona.png) -27px -31px;
    }

    .rand {
      width: 27px;
      height: 25px;
      background: url(/assets/images/webrings/persona.png) 0 -31px;
    }
  }
}

/* Pokering */
.pokering {
  width: 215px;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: url(/assets/images/webrings/pokering.png);
  font-family: "MS UI Gothic", Tahoma;
  color: #000;

  .title {
    width: 77px;
    height: 21px;
    background: url(/assets/images/webrings/pokering.png) 0 -215px;
    margin-top: 1.3rem;
  }

  .screen {
    width: 117px;
    height: 79px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background: url(/assets/images/webrings/pokering-bg.png);
    background-size: cover;
    background-position: top center;
    border-radius: 5px;
    overflow: hidden;

    input[type="checkbox"] {
      width: 1px;
      height: 1px;
      overflow: hidden;
      visibility: hidden;
    }

    .pokemon {
      width: 46px;
      height: 40px;
      background: url(/assets/images/webrings/pokering.png) -215px 0;

      &:hover {
        cursor: var(--img-cursor-point), pointer;
        filter: drop-shadow(1px 0 1px white) drop-shadow(-1px 0 1px white) drop-shadow(0 1px 1px white) drop-shadow(0 -1px 1px white);
      }
    }

    .steps {
      width: 100%;
      padding-right: .25rem;
      font-weight: bold;
      text-shadow: 1px 1px #00000024;
    }

    .info-box {
      position: absolute;
      bottom: -3rem;
      color: #000;
      font-size: .7rem;
      line-height: .6rem;
      width: 100%;
      border: 8px solid transparent;
      border-image: url(/assets/images/webrings/pokering-box.png) 8 fill round;
      transition: bottom .3s steps(5, end);
      text-align: center;
    }
  }

  &:has(input[type="checkbox"]:checked) .info-box {
    bottom: -.1rem;
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: 1.25rem;

    a:hover > * {
      opacity: 1;
      filter: drop-shadow(1px 0 1px gray) drop-shadow(-1px 0 1px gray) drop-shadow(0 1px 1px gray) drop-shadow(0 -1px 1px gray)
    }

    .prev,
    .next {
      width: 26px;
      height: 26px;
      background: url(/assets/images/webrings/pokering.png) -215px -72px;
    }

    .rand {
      width: 32px;
      height: 32px;
      margin-top: .25rem;
      background: url(/assets/images/webrings/pokering.png) -215px -40px;
    }
  }
}

/* Queercoded */
.queercoded {
  .index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/queercoded.png) -31px 0;
  }

  .prev,
  .next {
    width: 31px;
    height: 31px;
    background: url(/assets/images/webrings/queercoded.png);
  }
}

/* Rayman Ring */
.rayman {
  .index {
    width: 24px;
    height: 24px;
    background: url(/assets/images/webrings/rayman.png) -29px 0;
  }
  .prev,
  .next {
    width: 29px;
    height: 33px;
    background: url(/assets/images/webrings/rayman.png);
  }
}

/* Re:source Ring */
.resource-ring {
  gap: 0 !important;

  .webring-title {
    div[role="img"] {
      width: 88px;
      height: 31px;
      background: url(/assets/images/webrings/resource-ring.png);
    }
  }

  .index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/resource-ring.png) 0 -62px;
  }

  .webring-nav {
    gap: 0 !important;

    .prev,
    .next,
    .rand {
      height: 31px;
    }

    .prev {
      width: 22px;
      background: url(/assets/images/webrings/resource-ring.png) 0 -31px;
    }

    .rand {
      width: 44px;
      background: url(/assets/images/webrings/resource-ring.png) -22px -31px;
    }

    .next {
      width: 22px;
      background: url(/assets/images/webrings/resource-ring.png) -66px -31px;
      transform: scale(1);
    }
  }

}

/* Sanrio Webring */
@font-face {
  font-family: 'Cherry Bomb One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/cherry-bomb-one@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/cherry-bomb-one@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Hi Melody';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/hi-melody@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/hi-melody@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.sanrio {
  width: 250px;
  height: 175px;
  background: url(/assets/images/webrings/sanrio.png);
  font-family: 'Hi Melody';
  font-size: 1rem;
  justify-content: space-around;
  border-radius: 1rem;

  .webring-title > * {
    font-family: 'Cherry Bomb One';
    color: #fff !important;
    font-size: 1.5rem;
    text-shadow: 0 0 10px #00393c;
    line-height: 1rem;
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .webring-nav {
    .prev,
    .next {
      width: 49px;
      height: 50px;
      background: url(/assets/images/webrings/sanrio.png) -250px 0;
    }

    .index {
      width: 124px;
      height: 48px;
      background: url(/assets/images/webrings/sanrio.png) 0 -175px;
    }
  }

  .webring-links {
    a {
      color: #085745;

      &:visited {
        color: #5b2c58 !important;
      }
    }
  }
}

/* Self-Insert Webring */
.self-insert {
  width: 225px;
  background-color: #ffe3f1;
  background-image: url(/assets/images/webrings/self-insert_bg.png);
  background-size: cover;
  border: 2px solid #DD28A7;
  font-size: .85em;
  line-height: 1.25em;
  color: #452134;

  p {
    margin: 0;
  }

  a {
    color: #BF3C8E;
    font-weight: bold;
  }

  strong {
    color: #452134;
  }

  .self-insert-img img {
    border: 2px solid #DD28A7;
  }

  .self-insert-text {
    border: 1px dashed #DD28A7;
  }

  .self-insert-nav {
    border: 1px dashed #DD28A7;
  }
}

/* Tropical Rice Bowl */
#TRB img {
  max-height: 31px !important;
  width: auto !important;
}

#TRB #centerTRB img {
  background-color: #fff;
}

/* WiiRing */
.wii-ring {
  background-color: #fff;

  &:has(.btn) {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    width: 87px;
    height: 30px;
    border: 1px solid #989898;

    .btn {
      width: 76px;
      height: 23px;
      background: url(/assets/images/webrings/wiiring.png) -44px 0;
    }
  }

  &:not(:has(.btn)) {
    width: 150px;
    gap: .5rem !important;
    padding: .75rem;
    border: 4px solid #d3bfbf;
    border-radius: 8px;
  }

  .webring-title div[role="img"] {
    width: 76px;
    height: 23px;
    background: url(/assets/images/webrings/wiiring.png) -44px 0;
  }

  .webring-nav {
    gap: 1rem !important;

    .prev,
    .next {
      width: 17px;
      height: 14px;
      background: url(/assets/images/webrings/wiiring.png) -69px -23px;
    }

    .index {
      width: 44px;
      height: 59px;
      background: url(/assets/images/webrings/wiiring.png);
    }
  }

  .webring-links {
    .rand {
      width: 25px;
      height: 20px;
      background: url(/assets/images/webrings/wiiring.png) -44px -23px;
    }
  }
}

/* WOL Webring */
.wol {
  .prev,
  .next {
    width: 20px;
    height: 40px;
    background: url(/assets/images/webrings/wol.png);
  }

  .index {
    width: 110px;
    height: 52px;
    background: url(/assets/images/webrings/wol.png) -20px 0;
  }
}

/* Yume-ring */
.yume-ring {
  &:has(.btn) {
    .btn {
      width: 88px;
      height: 31px;
      background: url(/assets/images/webrings/yumering.png) -77px 0;
    }
  }

  .webring-title {
    [role="img"] {
      width: 77px;
      height: 40px;
      background: url(/assets/images/webrings/yumering.png);
    }
  }
  .webring-nav {
    font-size: .8em;

    & > * {
      font-weight: bold;
    }

    .next {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 962px) {
  #p-ring .persona-ring {
    width: 225px;
  }

  .self-insert-webring {
    width: 300px;
  }

  .jelly-world {
    width: 210px;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .doodlering:not(:has(.btn)) {
    padding: 0 .5rem;
  }

  .self-insert {
    width: 300px;
  }
}