.skip-link {
  position: absolute;
  margin: .25rem;
  padding: .25rem;
  z-index: -99;
}

.skip-link:focus-visible {
  position: relative;
  z-index: 99;
}

#nav-main {
  position: fixed;
  width: 165px;

  a {
    border: 0;

    &:hover {
      border-bottom: 1px solid var(--text-link);

      &:visited {
        border-color: var(--text-link-visited);
      }
    }
  }

  ul.section-list li.nav-link-item::marker {
    content: var(--icon-list);
    color: var(--text-secondary);
  }

  ul.section-list li ul li.mobile::marker {
    content: var(--icon-sublist);
  }

  li.nav-link-item {
    line-height: 1.25em;
    padding-left: .25rem;
    margin: .25rem 0 .1rem .5rem;
  }

  details summary::marker {
    color: var(--text-link-visited);
  }

  details summary:hover {
    text-decoration: underline;
  }

  details .nav-link-item {
    margin-left: 1rem;
  }

  .h2 {
    font-size: 1.25em;
  }

  .sidebar {
    padding: 0;
  }

  .toggle-mode {
    font-size: 1.25rem;
  }
}

.mobile-nav-container {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100;

  details.burger {
    width: 100%;
    z-index: 100;

    summary.burger-summary {
      list-style-type: none;
      cursor: var(--img-cursor-point), pointer;
      background: var(--bg-body);
      color: transparent;
    }

    summary.burger-summary::before {
      content: "☰";
      font-size: 2.5em;
      color: var(--text-primary);
    }

    nav {
      height: calc(100vh - 50px);
      width: 300px;
      overflow-y: auto;
    }
  }

  details.burger[open] {
    background: var(--bg-overlay);

    summary.burger-summary::before {
      content: '×';
      font-size: 3em;
    }
  }

  .btns-container {
    position: fixed;
    inset: .5rem 1rem auto auto;
    z-index: 100;
    display: flex;
    gap: 1rem;

    button {
      border: 0;

      &.toggle-mode {
        font-size: 1.5rem;
      }

      &.toggle-gif {
        padding: .5rem 1rem;
        font-weight: bold;
      }
    }
  }
}


li.desktop > details > ul {
  margin-top: -.25rem;
}

li.mobile {
  display: none;
}

.section-title > ul {
  margin-left: 1rem;
}

.main.desktop {
  &:has(#nav-main details[data-num-of-items="1"]:open) {
    min-height: calc(var(--body-height) + 1.1rem);
  }

  &:has(#nav-main details[data-num-of-items="2"]:open) {
    min-height: calc(var(--body-height) + 2.25rem);
  }

  &:has(#nav-main details[data-num-of-items="3"]:open) {
    min-height: calc(var(--body-height) + 3.47rem);
  }

  &:has(#nav-main details[data-num-of-items="4"]:open) {
    min-height: calc(var(--body-height) + 4.9rem);
  }

  &:has(#nav-main details[data-num-of-items="5"]:open) {
    min-height: calc(var(--body-height) * 1.27);
  }
}

@media screen and (max-width: 991px) {
  #nav-main {
    width: 16.66666667%;
  }
}

@media screen and (max-width: 767px) {
  #nav-main {
    display: none;

    a {
      text-decoration: underline;
    }
  }

  .nav-link-item img {
    transform: scale(2);
    image-rendering: pixelated;
    margin-left: 1rem;
    vertical-align: middle;
  }

  li.desktop {
    display: none;
  }

  li.mobile {
    display: revert;
  }

  .mobile-nav-container {
    display: block;

    details.burger {
      font-size: 1.25em;

      .h2 {
        padding: .5rem !important;
      }

      ul li ul li {
        margin: .75rem 0;
      }
    }

    .page {
      margin-top: 3.75rem;
    }
  }
}