body#redirect-page {
  .container-fluid {
    height: 100%;
  }

  .content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .text-box {
    top: 0;
    left: 0
  }

  .text-content {
    margin-top: -8rem;
    margin-left: -4rem;
  }
}


@media screen and (max-width: 767px) {
  body#redirect-page {
    .container-fluid {
      padding: 0;
    }

    .text-box {
      font-size: .8em;
    }

    .text-content {
      margin-top: -2rem;
      margin-left: -1rem;
    }
  }
}