@import "_bootstrap-grid.css";
@import "_feather.min.css";

@font-face {
  font-family: 'Dyslexic';
  src: url(/assets/fonts/OpenDyslexic-Regular.otf)
}

:root {
  --body-height: 480px;
  --img-link: url(/assets/images/link.svg);
  --img-cursor: url(/assets/images/cursor.png);
  --img-cursor-point: url(/assets/images/cursor_point.png);
}

[data-theme="light"] {
  --img-bg: url(/assets/images/bg.jpg);
  --img-header: -0 -0;
  --bg-body: #fff0f3;
  --bg-button: var(--bg-footer);
  --bg-code: var(--bg-footer);
  --bg-footer: #fccdd7;
  --bg-heading: var(--bg-footer);
  --bg-img-color: #DE9DB1;
  --bg-overlay: #de9db1cc;
  --bg-primary: #e48aa7;
  --bg-selection: #a50e5a;
  --bg-sidebar: #fffffe;
  --border-body: var(--bg-body);
  --border-sidebar: var(--bg-primary);
  --scroll-bg: var(--bg-footer);
  --scroll-tab: var(--bg-primary);
  --text-body: #0e172c;
  --text-button: var(--text-primary);
  --text-muted: #805f6f;
  --text-primary: #a50e5a;
  --text-secondary: #7122aa;
  --text-link: var(--text-secondary);
  --text-link-visited: #933773;
  --text-shadow: #a50e5a6c;
  --text-selection: #fffffe;
  --line-color: var(--bg-primary);
  --svg-color: brightness(0) saturate(100%) invert(15%) sepia(73%) saturate(7437%) hue-rotate(276deg) brightness(72%) contrast(85%);
}

[data-theme="dark"] {
  --img-bg: url(/assets/images/bg_dark.jpg);
  --img-header: -0 -150px;
  --bg-img-color: #391b3d;
  --bg-overlay: #391b3dcc;
  --bg-primary: #28162b;
  --bg-body: #47284D;
  --bg-sidebar: var(--bg-footer);
  --bg-footer: #2f1933;
  --bg-heading: #180c1a;
  --bg-code: var(--bg-footer);
  --bg-selection: #fffffe;
  --border-body: var(--bg-body);
  --border-sidebar: var(--bg-heading);
  --scroll-bg: var(--bg-heading);
  --scroll-tab: var(--bg-body);
  --text-body: #fffffe;
  --text-muted: #805f6f;
  --text-primary: var(--text-body);
  --text-secondary: var(--text-body);
  --text-link: #ffaada;
  --text-link-visited: #b68ae5;
  --text-shadow: #FDCDD96c;
  --text-selection: #28162b;
  --line-color: var(--text-link);
  --svg-color: brightness(0) saturate(100%) invert(72%) sepia(77%) saturate(1588%) hue-rotate(288deg) brightness(103%) contrast(101%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

[data-theme="dark"] .black-text {
  filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(1%) hue-rotate(118deg) brightness(110%) contrast(101%);
}

[data-theme="dark"] .outline {
  filter: drop-shadow(1px 0 0 #fff) drop-shadow(0 1px 0 #fff) drop-shadow(-1px 0 0 #fff) drop-shadow(0 -1px 0 #fff)
}

html,
body {
  scrollbar-width: thin;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  align-self: center;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  overflow-wrap: break-word;
}

p:only-child {
  margin: 1rem 0;
}

p + p {
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ff-image {
  vertical-align: unset !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.vh-100 {
  height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}

.rounded {
  border-radius: 0.375rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: .25rem !important;
}

.rounded-2 {
  border-radius: .375rem !important;
}

.rounded-3 {
  border-radius: .5rem !important;
}

.rounded-4 {
  border-radius: 1rem !important;
}

.rounded-5 {
  border-radius: 2rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.border-0 {
  border: 0 !important;
}

.border-debug {
  border: 1px solid red;
}

.border-1 {
  border-width: 2px !important;
}

.border-2 {
  border-width: 3px !important;
}

.text-xxl {
  font-size: 1.75em !important;
}

.text-xl {
  font-size: 1.5em !important;
}

.text-lg {
  font-size: 1.25em !important;
}

.text-md {
  font-size: 1.1em !important;
}

.text-sm {
  font-size: .9em !important;
}

.text-xs {
  font-size: .8em !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.img-50 > img,
img.img-50 {
  width: 50% !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.figure-left {
  margin-right: 1.5rem;
  float: left;
}

.figure-right {
  margin-left: 1.5rem;
  float: right;
}

.figure-center {
  margin-right: auto;
  margin-left: auto;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.bg-bottom {
  background-position: bottom !important;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel-column {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.carousel-item {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel-column .carousel-item,
.carousel-column .carousel-content {
  height: 100%;
}

.img-svg {
  width: 1.25em;
  vertical-align: middle;
}

.ft-alert-triangle:not(.index) {
  display: none;
}

.ft-alert-triangle.show {
  display: inline !important;
}