.resources {
  td {
    padding: 1em;
  }

  a {
    display: unset;
  }
}

#feed-reader {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid var(--bg-primary);
}

#feed-reader2 {
  border: 1px solid var(--bg-primary);
  margin-top: 1em
}

article.status-cafe-theme {
  iframe {
    margin-top: 1rem;
    width: 100%;
    height: 500px;
    border: 1px solid var(--border-sidebar);
  }

  p + dl {
    margin-top: 1rem;
  }

  dl {
    padding-left: 1.5rem;

    dt {
      font-weight: bold;
      color: var(--text-primary);

      &:before {
        content: var(--icon-list);
        color: var(--text-secondary);
        padding-right: .5rem;
        margin-left: -.5rem;
      }
    }

    dd {
      padding-left: 1.5rem;

      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }

    .inline-list {
      flex-wrap: wrap;
      gap: 1rem;

      li:before {
        content: var(--icon-list);
        color: var(--text-secondary);
        padding-right: .75rem;
      }
    }

    details {
      margin-top: .5rem;

      summary {
        display: inline flow-root list-item;
        padding: 0 .25rem;
        margin-bottom: .5rem;
        font-weight: bold;
        color: var(--text-primary);
        background: var(--bg-heading);
      }
    }
  }
}

article.code-snippets {
  pre + ul {
    margin: 1.5rem 0;
  }
}