@import "_bootstrap-grid.css";
@import "_feather.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html,
body {
  scrollbar-width: thin;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  overflow-wrap: break-word;
}

p:only-child {
  margin: 1rem 0;
}

p + p {
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ff-image {
  vertical-align: unset !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.vh-100 {
  height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}

.rounded {
  border-radius: 0.375rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: .25rem !important;
}

.rounded-2 {
  border-radius: .375rem !important;
}

.rounded-3 {
  border-radius: .5rem !important;
}

.rounded-4 {
  border-radius: 1rem !important;
}

.rounded-5 {
  border-radius: 2rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.border-0 {
  border: 0 !important;
}

.border-debug {
  border: 1px solid red;
}

.border-1 {
  border-width: 2px !important;
}

.border-2 {
  border-width: 3px !important;
}

.text-xxl {
  font-size: 1.75em !important;
}

.text-xl {
  font-size: 1.5em !important;
}

.text-lg {
  font-size: 1.25em !important;
}

.text-md {
  font-size: 1.1em !important;
}

.text-sm {
  font-size: .9em !important;
}

.text-xs {
  font-size: .8em !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.img-50 > img,
img.img-50 {
  width: 50% !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.figure-left {
  margin-right: 1.5rem;
  float: left;
}

.figure-right {
  margin-left: 1.5rem;
  float: right;
}

.figure-center {
  margin-right: auto;
  margin-left: auto;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.bg-bottom {
  background-position: bottom !important;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel-column {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.carousel-item {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel-column .carousel-item,
.carousel-column .carousel-content {
  height: 100%;
}

.img-svg {
  width: 1.25em;
  vertical-align: middle;
}

.ft-alert-triangle:not(.index) {
  display: none;
}

.ft-alert-triangle.show {
  display: inline !important;
}

.img-align-top {
  vertical-align: top;
}

.img-align-middle {
  vertical-align: middle;
}

.img-align-bottom {
  vertical-align: bottom;
}

.img-align-sub {
  vertical-align: sub;
}