body#splash-page {
  .content {
    max-width: 850px;
    border: 2px solid var(--bg-primary);
  }

  .last-update {
    font-size: .85em;
  }

  .container-fluid {
    height: 100%
  }

  a {
    text-decoration: underline;
    border: 0;

    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 767px) {
  body#splash-page{
    .container-fluid {
      height: revert;
    }

    #splash-container #theme-switcher-container {
      top: .5rem;
    }
  }
}