body#splash-page {
  .container-fluid {
    height: 100%;
  }

  a {
    text-decoration: underline;
    border: 0;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }

  .content {
    max-width: 850px;
    border: 2px solid var(--bg-primary);
  }

  .splash-desc {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 767px) {
  .splash-desc {
    gap: 1rem;
  }
}