#updates-bar {
  strong {
    display: block;
    text-align: center;
  }

  li {
    padding: .25rem .5rem;
    margin-left: .5rem;
    line-height: 1rem;

    &::marker {
      content: var(--icon-list);
      color: var(--text-secondary);
    }
  }

  .h2 {
    font-size: 1.25em;
  }

  hr {
    margin: .5rem 0 !important;
  }

  .update-content {
    font-size: .8em;
    max-height: 450px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 991px) {
  #updates-bar .update-content {
    hr,
    strong:not(:first-of-type),
    ul:not(:first-of-type) {
      display: none;
    }
  }
}