@import "basic.css";

figure {
  float: left;
  padding: 1em;
  margin: 0 2em 1em 0;
  width: 225px;
  border: 2px solid var(--border-sidebar);
  text-align: center;
  background-color: var(--bg-sidebar);
}

figcaption {
  font-size: .8em;
}

.geek-code {
  background: unset !important;
}

@media screen and (max-width: 999px) {
  figure {
    float: unset;
    margin: 0 auto;
  }
}