@import "basic.css";

.pagination {
  font-family: 'Dyslexic';
  font-size: 1.25em;
  color: var(--text-secondary);
  margin-bottom: 1rem;
}

.blog-list li {
  margin: .5rem 0;
}

figure {
  width: 250px;
  padding: .5rem;
  border: 1px solid var(--border-sidebar);
  background-color: var(--bg-sidebar);
  text-align: center;
}

figcaption {
  padding: 0 .25rem;
  font-size: .85em;
}

.back-button {
  font-family: 'Dyslexic';
  font-size: 1.5em;
  color: var(--text-link);
}

.back-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.blog-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.blog-gallery > * {
  margin: .25rem;
}

.blog-gallery > figure {
  width: 200px;
}

.blog-gallery > .landscape {
  width: 300px;
}

.blog-gallery > .bg-center .figure-div {
  background-position: center !important;
}

.blog.row:hover {
  background-color: var(--bg-footer);
}