@import "_reset.css";

:root {
  --img-link: url(/assets/images/link.svg);
  --bg-body: #21222C;
  --bg-container: #282A36;
  --color-text: #F8F8F2;
  --color-subtitle: #BD93F9;
  --color-link: #FFB86C;
  --color-heading: #FF79C6;
  --color-date: #8BE9FD;
  --color-hr: #6272A4;
  --color-code: #50FA7B;
  --filter-link: brightness(0) saturate(100%) invert(69%) sepia(69%) saturate(374%) hue-rotate(337deg) brightness(101%) contrast(101%);
}

body {
  background-color: var(--bg-body);
  color: var(--color-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.25rem;
}

h1 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Mochiy Pop One", sans-serif;
  letter-spacing: .1rem;
  font-weight: normal;
  line-height: 1.75rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

h4 {
  color: var(--color-hr);
  font-size: 1.15rem;
}

h3 a {
  font-weight: normal;
  color: var(--color-date);
  border-bottom: 1px solid var(--color-date);
}

a {
  color: var(--color-link);
  font-weight: bold;
  border-bottom: 1px solid var(--color-link);

  &:hover {
    border-bottom-color: transparent;
  }
}

a[href*="http"]::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: .25rem;
  margin-bottom: -.1rem;
  background-image: var(--img-link);
  background-size: cover;
  filter: var(--filter-link);
}

code {
  font-size: 1rem;
  padding: .25rem .5rem;
  background-color: var(--bg-body);
  border-radius: .25rem;
  color: var(--color-code);
}

hr {
  margin: 1em 0;
  border: none;
  border-top: 1px dashed var(--color-hr);
}

p + p {
  margin: 0;
}

section:has(h4),
.feed-entry {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-left: 1.5rem;
}

ul > li > ul {
  margin-left: 2rem;
  margin-top: .75rem;
}

.bg-body {
  background-color: var(--bg-container);
}

.subtitle {
  color: var(--color-subtitle);
  font-size: .9em;
}

#web-feed .container {
  max-width: 800px;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1em;
    line-height: 1.7em;
  }

  #web-feed .container-wrapper {
    height: revert;
  }
}