@import "bechno.css";

pre code.css-code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  margin: 1rem 0;
  border: 2px solid var(--bg-primary);
}

code.css-code {
  padding: 3px 5px
}
/*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/
:root {
  --code: #535a60;
  --color: #2f3337;
  --bg: #f6f6f6;
  --comment: #656e77;
  --keyword: #015692;
  --attribute: #015692;
  --symbol: #803378;
  --selector: #b75501;
  --variable: #54790d;
  --literal: #b75501;
  --punctuation: #54790d;
}

.css-code {
  color: var(--color) !important;
  background: var(--bg) !important;
}

span.comment {
  color: var(--comment)
}

span.attribute {
  color: var(--attribute)
}

span.property {
  color: var(--symbol)
}

span.selector {
  color: var(--selector)
}

span.url,
span.attr-value {
  color: var(--variable)
}
