@import "_reset.css";

@font-face {
  font-family: 'Dyslexic';
  src: url(/assets/fonts/OpenDyslexic-Regular.otf)
}

:root {
  --bg-body: #fff0f3;
  --bg-footer: #fccdd7;
  --bg-heading: var(--bg-footer);
  --bg-selection: #a50e5a;
  --border-sidebar: var(--bg-primary);
  --scroll-bg: var(--bg-footer);
  --scroll-tab: var(--bg-primary);
  --text-body: #0e172c;
  --text-primary: #a50e5a;
  --text-selection: #fffffe;
}

::selection {
  background: var(--bg-selection);
  color: var(--text-selection);
}

body {
  background-image: none;
  background-color: var(--bg-body);
  color: var(--text-body);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8rem;
}

h1 {
  font-family: 'Dyslexic', Georgia, serif;
  font-weight: 400;
  margin: 1rem 0;
  color: var(--text-primary);
}

b,
strong {
  color: var(--text-primary);
}

button {
  background-color: var(--bg-heading);
  color: var(--text-primary);
  border: 1px solid var(--border-sidebar);
  border-radius: 5px;
  padding: .5rem;
  text-decoration: none;
}

button:hover {
  cursor: var(--img-cursor-point), pointer;
  background-color: var(--bg-body);
  color: var(--text-primary);
}

fieldset {
  border: 0;
  margin-bottom: 1rem;
}

#bishie-content .question {
  margin-bottom: .5rem;
}

.quiz-img-container > img:not(:last-child){
  margin-right: .5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #47284D;
    --bg-footer: #2f1933;
    --bg-heading: #180c1a;
    --bg-selection: #ffffff;
    --border-sidebar: var(--bg-heading);
    --scroll-bg: var(--bg-heading);
    --scroll-tab: var(--bg-body);
    --text-body: #fff;
    --text-primary: #FDCDD9;
    --text-selection: #28162b;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  #bishie-results {
    text-align: center;
  }
}