@import "bootstrap-grid.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin
}

html,
body {
  height: 100vh;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

p,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  overflow-wrap: break-word;
}

p + p {
  margin: 1em 0;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a .ff-container.ff-active .ff-image,
a .ff-container.ff-inactive .ff-canvas.ff-canvas-ready {
  transition: none !important;
  -o-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ff-image {
  vertical-align: unset !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.rounded {
  border-radius: 0.375rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: .25rem !important;
}

.rounded-2 {
  border-radius: .375rem !important;
}

.rounded-3 {
  border-radius: .5rem !important;
}

.rounded-4 {
  border-radius: 1rem !important;
}

.rounded-5 {
  border-radius: 2rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.border {
  border: 1px solid silver;
}

.text-center {
  text-align: center !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.figure-left {
  margin-right: 1.5rem;
  float: left;
}

.figure-right {
  margin-left: 1.5rem;
  float: right;
}

.figure-center {
  margin-right: auto;
  margin-left: auto;
}