@import "_reset.css";

body {
  background-image: url(/assets/images/secret/bg.png);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #000;
}

.container {
  max-width: 600px;
  background: #fff;
  border: 5px solid #e57294;
}

.award {
  border: 2px solid #e57294;
  border-radius: 10px;
}

p, ul {
  font-size: .8em;
}

.subcontainer {
  border: 2px dashed #000;
}

.credits img {
  max-width: 200px;
}

h1 {
  border: 5px double #000;
  border-right: 0;
  border-left: 0;
  border-radius: 10px;
}

hr {
  border: 0;
  border-bottom: 2px solid #000;
}

ul {
  margin-left: 1rem;
}

ul li::marker {
  content: '- '
}

.steps .row > * {
  border-top: 4px dotted #000;
}

.steps .row > *:nth-child(odd) {
  border-right: 4px dotted #000;
}

.step {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .steps .row > * {
    border: 0 !important;
  }
}