div.tab-container input {
  display:none;
}

div.tab-container label {
  display: inline-block;
  padding: 10px;
  border: 1px solid transparent
}

div.tab-container div.tab-content {
  display: none;
  margin-top: -1px;
  border-top: 1px solid var(--sidebar-border);
  padding: 1em;
}

div.tab-container input:checked+label {
  border: 1px solid var(--sidebar-border);
  border-bottom: 1px solid var(--content);
  padding: 1em;
}

div.tab-container input:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
div.tab-container input:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
div.tab-container input:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
div.tab-container input:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
div.tab-container input:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
div.tab-container input:nth-of-type(6):checked ~ .tab-content:nth-of-type(6),
div.tab-container input:nth-of-type(7):checked ~ .tab-content:nth-of-type(7),
div.tab-container input:nth-of-type(8):checked ~ .tab-content:nth-of-type(8){
  display: block;
}