@import 'basic.css';

#Splatnet table {
  background-size: cover;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border: 3px outset black;
}

#Splatnet td {
  background-color: #1c1144 !important;
}

#rightarrow {
  height: 20px;
  width: 20px;
  content: url('/assets/images/webrings/splatnet_right.png');
}

#leftarrow {
  height: 20px;
  width: 20px;
  content: url("/assets/images/webrings/splatnet_left.png")
}

#chibi {
  width: 30px;
  content: url("/assets/images/webrings/splatnet_icon.png");
}

#chara {
  content: url("/assets/images/webrings/splatnet.png")
}

#splatlogo {
  height: 25px;
}

#Splatnet table tr td {
  padding: 13px 13px 13px;
}

#Splatnet {
  margin: 0 auto;
}

#Splatnet .webring-prev {
  text-align: right;
}

#Splatnet .webring-info {
  text-align: center;
}

#Splatnet .webring-links {
  font-size: small;
  color: white;
}

#Splatnet .webring-links a {
  text-decoration: none;
}

#Splatnet .webring-next {
  margin-left: 5px;
  text-align: right;
}

#Splatnet .webring-prev {
  margin-right: 5px;
  text-align: left;
}

#jelly-world {
  text-align: center;
  font-family: Arial;
  width: 150px;
  border: 3px dotted orange;
  background: url('/assets/images/webrings/jw_bg.png');
}

#jelly-world * {
  color: initial;
}

#jelly-world a {
  color: #da6200;
  font-weight: bold;
}

#jelly-world .row>* {
  padding: 0;
}

#jelly-world .img {
  background: #fff;
  height: 80px;
  width: 80px;
}

#jelly-world img {
  object-fit: contain;
}