---
layout: ""
pagination:
  data: collections.statusCafeTheme
  size: 1
  alias: statusTheme
eleventyExcludeFromCollections: true
eleventyComputed:
  permalink: "resources/status-cafe/preview/{{ statusTheme.page.fileSlug }}.html"
---
&#10;
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bechnokid - Status Cafe</title>
  <meta name="description" content="your friends' updates">
  <link rel="stylesheet" href="https://status.cafe/assets/style.css" type="text/css" media="all">
</head>
<body>
  <header>
    <nav>
      <a href="/">status.cafe</a> <a href="https://forum.status.cafe">forum</a>
      <a href="/settings">settings</a> <a href="/users/bechnokid">bechnokid</a> (<a href="/logout">logout</a>)
    </nav>
  </header>
  <main>
    <div class="cols">
      <section>
        <h2>bechnokid</h2>
        {% if statusTheme.data.pfp %}
          <img src="{{ statusTheme.data.pfp }}" class="profile-picture">
        {% else %}
          <img src="https://placehold.co/500x500" class="profile-picture">
        {% endif %}
        <p><a href="/users/bechnokid.atom">Subscribe via Atom</a></p>
        <dl>
          <dt class="homepage">Homepage</dt>
          <dd class="homepage">
            <a href="https://bechnokid.com" target="_blank">https://bechnokid.com/</a>
          </dd>
          <dt class="email">Email</dt>
          <dd class="email">
            <a href="mailto:bechnokid@yahoo.com" target="_blank">bechnokid@yahoo.com</a>
          </dd>
          <dt class="about">About</dt>
          <dd class="about">
            {% include "components/resources/status-cafe-themes/" + statusTheme.page.fileSlug + ".html" %}
          </dd>
        </dl>
      </section>
      <section>
        <h2>Statuses</h2>
        <article class="status">
          <div class="status-username"><a href="https://status.cafe/users/bechnokid">bechnokid</a> ⭐ 1 hour ago</div>
          <p class="status-content">This is a preview for a Status Cafe theme!</p>
        </article>
        <article class="status">
          <div class="status-username"><a href="https://status.cafe/users/bechnokid">bechnokid</a> 👀 5 days ago</div>
          <p class="status-content">If the preview in this frame is too small, you can take the page's URL and replace "themes" with "preview" to view the theme in full resolution.</p>
        </article>
        <article class="status">
          <div class="status-username"><a href="https://status.cafe/users/bechnokid">bechnokid</a> 💡 2 days ago</div>
          <p class="status-content">Please note that most of the links in the navigation do not work since this is just a preview. Clicking on them will lead to broken pages!</p>
        </article>
        <article class="status">
          <div class="status-username"><a href="https://status.cafe/users/bechnokid">bechnokid</a> ✏️ 3 days ago</div>
          <p class="status-content">If anything looks off, feel free to shoot me an email to the email address listed to the left!</p>
        </article>
        <p><a href="bechnokid?page=1">Older statuses</a></p>
      </section>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>