---
permalink: 'feeds/feed.json'
---
{% set feed_items = collections.feed %}
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ meta.name }} - JSON Feed",
  "home_page_url": "{{ meta.url }}",
  "feed_url": "{{ meta.url }}/feeds/feed.json",
  "description": "{{ summary }}",
  "user_comment": "This is a JSON feed. You can subscribe by copying the URL from the address bar into your newsreader!",
  "authors": {
    "name": "{{ meta.author.name }}",
    "url": "{{ meta.url }}"
  },
  "items": [
    {% for item in feed_items | reverse %}
      {
        "id": "bechnokid-{{ item.fileSlug | dateToIso8601 }}",
        "url": "{{ meta.url }}",
        "title": "{{ item.fileSlug | monDayYear }}",
        "content_html": {{ item.content | renderTransforms(item.data.page, meta.url ) | dump | safe }},
        "date_published": "{{ item.date | dateToRfc3339 }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}