---
permalink: "resources/status-cafe/themes/{{ page.fileSlug }}.html"
---
{% extends "layouts/base.html" %}

{% set page_header_title = title %}
{% set page_header_summary = summary | markdownifyInline | safe %}

{% set copy_code %}
  {% include "components/resources/status-cafe-themes/" + page.fileSlug + ".html" %}
{% endset %}

{% block content %}
  <article class="status-cafe-theme">
    {% include "partials/page-header.html" %}
    {% if content %}
      <section class="preview">
    {% endif %}
      <button id="copy-btn" type="button">Copy code</button>
      <iframe src="/resources/status-cafe/preview/{{ page.fileSlug }}.html" frameborder="0"></iframe>
      <textarea class="copy-text d-none">{{ copy_code | safe }}</textarea>
    {% if content %}
      </section>
      <section class="notes mt-3">
        {{ content | safe }}
      </section>
    {% endif %}
  </article>
  {% include "partials/go-back.html" %}
{% endblock content %}