---
pagination:
  data: collections.artPages
  size: 1
  alias: picture
css: art
layout: layouts/basic.html
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ picture.title | safe }}"
  summary: "{% if picture.date %}{{ picture.date | monthDayYear }}{% endif %}"
  permalink: "/art/{{ picture.gallery | slugify }}/{{ picture.title | slugify }}/"
  noScroll: "{{ picture.scroll != 'TRUE' }}"
---
{% macro artNav(img) %}
  {% if img.prevImg %}
    {% set artLink = img.prevImg | slugify %}
    {% link "../" + artLink, "&lt;&lt;", { cls: 'button', ariaLabel: 'Go to previous image' } %}
  {% endif %}
  {% set artLink = img.gallery | slugify %}
  {% link "/art/" + artLink + "/", "Index", { cls: 'button mx-3' } %}
  {% if img.nextImg %}
    {% set artLink = img.nextImg | slugify %}
    {% link "../" + artLink, "&gt;&gt;", { cls: 'button', ariaLabel: 'Go to next image' } %}
  {% endif %}
{% endmacro %}
<section>
	<div class='art-nav d-flex justify-content-center'>{{ artNav(picture) }}</div>
  <div class='img-container d-flex mt-4 justify-content-center'>
    <img src="{{ picture.baseUrl + picture.filename }}" alt="{{ picture.altText }}" class='mb-3 mx-auto'{% if picture.transcript %} aria-describedby="transcript"{% endif %}>
  </div>
  {% if picture.fullSize %}<div class='full-size-link mb-3 text-center'><a href="{{ picture.baseUrl + picture.filename }}">(Click for full size)</a></div>{% endif %}
  <div class="art-desc mb-4">
    {% artCaption picture.caption, { originalDate: picture.originalDate, originalCaption: picture.originalCaption, transcript: picture.transcript } %}
  </div>
  <div class='art-nav d-flex justify-content-center'>
		{{ artNav(picture) }}
	</div>
</section>