---
title: Artwork
pagination:
  data: collections.gallery
  size: 10
layout: "layouts/basic.html"
tags:
  - content
  - nav
summary: DeviantArt sucks now, so I'm putting my artwork here :')
displayOrder: 11
permalink: '/artwork/index.html'
noScroll: true
---
<div class="row">
  <div class="col-5 d-flex justify-content-end">
    <img class="side-img" src="/assets/images/side_art.png" alt="">
  </div>
  <div class="col-7">
    {% for gallery in galleries %}
      <dl>
        <dt class="h3"><a href="../artwork/{{ (gallery.shortTitle or gallery.title) | slugify }}">{{ gallery.title }}</a></dt>
        {% if gallery.description %}
          <dd>{{ gallery.description }}</dd>
        {% endif %}
      </dl>
    {% endfor %}
  </div>
</div>