---
title: Adopts
displayOrder: 3
description: Little creatures that I found from other sites and decided to adopt.
permalink: '/goodies/adopts/index.html'
hasLinks: true
---
{% set array = goodies.graphics.adopts %}

<h2>For You</h2>
{% set imgLink = array.imgSrc + 'mine/' %}

{% galleryBox { cls: 'adopts mine', subCls: 'flex-column' } %}
<div class="row g-0">
  {%- for column in array.mine %}
    <div class="col-lg-4 col-12">
      {%- for row in column %}
        <p>{{ row.name }}</p>
        <div class='d-flex{% if row.cls %} {{ row.cls }}{% endif %}'>
          {%- for item in row.items %}
            {% if item.tooltip %}<div class="tooltip">{% endif %}
              {% img imgLink + item.src, { alt: item.alt } %}
            {% if item.tooltip %}
              <div class="tooltip-content" role="tooltip">{{ item.tooltip }}</div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endgalleryBox %}

<h2>Interactive</h2>
{% galleryBox %}
  <p class="mt-0">Click on any one of these pets to feed them!</p>
  <div class="w-100 d-flex">
    {%- for item in array.interactive %}
      <div class="pet-click border-sidebar bg-body p-3 text-center rounded-4 mx-2">
        {% img item.src, { url: item.url, alt: item.alt } %}
        <p class="m-0">{{ item.name | safe }}</p>
      </div>
    {% endfor %}
  </div>
{% endgalleryBox %}

{% set imgLink = array.imgSrc %}
<h2>Adopted</h2>
{% galleryBox %}
  {%- for row in array.adopted %}
  <div class="row g-0 w-100{{ " mb-4" if not loop.last }}">
    <div class="col d-flex flex-wrap justify-content-center{% if row.cls %} {{ row.cls }}{% endif %}">
      {%- for item in row.items %}
        {% set imgPath = item.src if item.ogLink else imgLink + item.src %}
        {% img imgPath, { url: item.url, alt: item.alt, urlCls: 'mx-1', freezeframe: item.freezeframe } %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
{% endgalleryBox %}
