---
title: Adopts
displayOrder: 2
description: Little creatures that I found from other sites that I decided to adopt.
noScroll: true
permalink: '/goodies/adopts/index.html'
---
{% set array = goodies.graphics.adopts %}

<h2>Made by Me</h2>
{% set imgLink = array.imgSrc + '/mine/' %}

{% galleryBox { sidebarClass: 'adopts mine', contentClass: 'flex-column' } %}
{% for row in array.mine %}
<p>{{ row.name }}</p>
<div class='d-flex{% if row.cls %} {{ row.cls }}{% endif %}'>
  {% for item in row.items %}
    {% if item.tooltip %}<div class="tooltip">{% endif %}
      {% img imgLink + item.src, { alt: item.alt } %}
    {% if item.tooltip %}
      <div class="tooltip-content" role="tooltip">{{ item.tooltip }}</div>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endfor %}
{% endgalleryBox %}

<h2>Interactive</h2>
{% galleryBox %}
  <p class="mt-0">Click on any one of these pets to feed them!</p>
  <div class="w-100 d-flex">
    {% for item in array.interactive %}
      <div class="pet-click border-sidebar bg-body p-3 text-center rounded-4 mx-2">
        {% imgWithLink item.src, item.url, { alt: item.alt } %}
        <p class="m-0">{{ item.name | safe }}</p>
      </div>
    {% endfor %}
  </div>
{% endgalleryBox %}

{% set imgLink = array.imgSrc %}
<h2>Adopted</h2>
{% galleryBox %}
  {% for row in array.adopted %}
  <div class="row g-0 w-100{{ " mb-4" if not loop.last }}">
    <div class="col d-flex flex-wrap justify-content-center{% if row.cls %} {{ row.cls }}{% endif %}">
      {% for item in row.items %}
        {% if item.ogLink %}
          {% set imgPath = item.src %}
        {% else %}
          {% set imgPath = imgLink + item.src %}
        {% endif %}
        {% imgWithLink imgPath, item.url, { alt: item.alt, cls: 'mx-1' } %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
{% endgalleryBox %}
