---
title: Pixel Clubs
shortTitle: Pixel Clubs
displayOrder: 4
description: Various pixel clubs that I have joined with my own pixel art.
permalink: '/goodies/pixel_clubs/index.html'
freezeframe: true
hasLinks: true
---
{% from 'components/pixel_clubs/macros.html' import
  basicClique as clique,
  cdwClique as cdw,
  yysClique as yys %}
{% set imgLink = '/assets/images/goodies/cliques/' %}

{% macro cliqueSection(cliqueName) %}
  {% set cliqueArray = goodies.pixel_clubs.items[cliqueName] %}
  {% if cliqueArray %}
  <section>
    <h2 id="{{ cliqueName }}">{{ cliqueArray.title }}</h2>
    <p>Created by <a href="{{ cliqueArray.owner.link }}">{{ cliqueArray.owner.name }}</a>!{% if cliqueArray.owner.archived %} (archived){% endif %}</p>
    {% for arrayName in ["mine", "collection"] %}
      {% if cliqueArray[arrayName] %}
        {% if cliqueName == "yys" %}
          {{ yys(cliqueArray[arrayName], imgLink + cliqueName + '/', cliqueArray.altText) }}
        {% elif cliqueName == 'cdw' %}
          {{ cdw(cliqueArray[arrayName], imgLink + cliqueName + '/', cliqueArray.altText) }}
        {% else %}
          {{ clique(cliqueArray[arrayName], imgLink + cliqueName + '/', cliqueArray.altText) }}
        {% endif %}
      {% endif %}
    {% endfor %}
  </section>
  {% endif %}
{% endmacro %}

<div class="row">
  <div class="col-lg-6 col">
    {{ cliqueSection('kindnessrocks') }}
    {{ cliqueSection('jarjam') }}
    {{ cliqueSection('stickers') }}
    {{ cliqueSection('cdw') }}
    {% include "partials/objets.html" %}
  </div>
  <div class="col-lg-6 col">
    {{ cliqueSection('tea') }}
    {{ cliqueSection('fzv') }}
    {{ cliqueSection('yys') }}
  </div>
</div>