---
title: Pixel Clubs
shortTitle: Pixel Clubs
displayOrder: 4
description: Various pixel clubs that I have joined with my own pixel art.
permalink: '/goodies/pixel_clubs/index.html'
freezeframe: true
hasLinks: true
---
{% from 'components/pixel_clubs/macros.html' import
  basicClique as clique,
  cdwClique as cdw,
  yysClique as yys,
  teaClique as tea %}
{% set imgLink = '/assets/images/goodies/cliques/' %}

{% macro cliqueSection(cliqueName) %}
  {% set cliqueArray = goodies.pixel_clubs[cliqueName] %}
  {% if cliqueArray %}
  <section>
    <h2 id="{{ cliqueName }}">{{ cliqueArray.title }}</h2>
    <p>Created by <a href="{{ cliqueArray.owner.url }}">{{ cliqueArray.owner.name }}</a>!{% if cliqueArray.owner.archived %} (archived){% endif %}</p>
    {%- for arrayName in ["mine", "collection"] %}
      {% set pixelClique = cliqueArray[arrayName] %}
      {% if pixelClique %}
        {% set cliqueImgSrc = imgLink + cliqueName + '/' %}
        {% set cliqueAltText = cliqueArray.altText %}
        {% if cliqueName == "yys" %}
          {{ yys(pixelClique, cliqueImgSrc, cliqueAltText) }}
        {% elif cliqueName == 'cdw' %}
          {{ cdw(pixelClique, cliqueImgSrc, cliqueAltText) }}
        {% elif cliqueName == 'tea' %}
          {{ tea(pixelClique, cliqueImgSrc, cliqueAltText)}}
        {% else %}
          {{ clique(pixelClique, cliqueImgSrc, cliqueAltText) }}
        {% endif %}
      {% endif %}
    {% endfor %}
  </section>
  {% endif %}
{% endmacro %}

<div class="row">
  <div class="col-lg-6 col">
    {{ cliqueSection('kindnessrocks') }}
    {{ cliqueSection('jarjam') }}
    {{ cliqueSection('stickers') }}
    {{ cliqueSection('fzv') }}
    {{ cliqueSection('cdw') }}
  </div>
  <div class="col-lg-6 col">
    {{ cliqueSection('tea') }}
    {{ cliqueSection('yys') }}
  </div>
</div>