:root {
  --darker-sidebar-border: #d87998;

  /* DARK MODE BETA
  --background: #721636;
  --content: #1f0d13;
  --sidebar: #473c3f;
  --footer: #41262f;
  --content-border: #30272a;
  --sidebar-border: #64253a;
  --darker-sidebar-border: #d87998;
  --font: #fddee5;
  --bold: #ff97af;
  --link: #ff52b7;
  --italic: #ffffff;
  */
}

.player h2 {
  font-size: 1.1em;
  padding: 2px;
  background-color: var(--sidebar);
  text-align: center
}

.player > div {
  background-color: var(--footer);
}

.player .song-wrapper {
  border: 1px dashed var(--darker-sidebar-border);
  margin-bottom: 10px;
  color: var(--italic);
  background-color: var(--sidebar);
}

.player i {
  font-size: .8em;
}

.player input {
  appearance: none;
  background: transparent
}

.player input::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -5px;
  border: 1px solid var(--darker-sidebar-border);
  height: 11px;
  width: 11px;
  border-radius: 11px;
  background: var(--sidebar);
  cursor: pointer
}

.player input::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: var(--darker-sidebar-border)
}

.player input:focus {
  outline: none
}

.player input::-moz-range-thumb {
  width: 11px;
  height: 11px;
  background: var(--footer);
  border: 1px solid var(---darker-sidebar-border);
  border-radius: 11px;
  cursor: pointer
}

.player input::-moz-range-track {
  height: 2px;
  cursor: pointer;
  background: var(--darker-sidebar-border)
}

.controls button {
  width: 25px;
  height: 25px;
  font-size: .7em;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--darker-sidebar-border);
  background-color: var(--sidebar)
}

.seekers input {
  width: 50%;
  margin: 5px
}

.seekers span {
  font-size: .8em
}
