{% macro basicClique(array, location, altText) %}
  {% details { title: array.title, cls: 'mt-3 mb-4', summaryCls: 'h3 details', open: array.open } %}
    {% galleryBox { subCls: 'justify-content-center cliques' + ( (" align-items-" + array.alignItems) if array.alignItems else " align-items-center") } %}
      {% for item in array.items %}
        {% if item.link %}
          {% imgWithLink location + item.src, item.link, { alt: altText + item.desc, freezeframe: item.freezeframe } %}
        {% else %}
          {% img location + item.src, {  alt: altText + item.desc, freezeframe: item.freezeframe } %}
        {% endif %}
      {% endfor %}
    {% endgalleryBox %}
  {% enddetails %}
{% endmacro %}

{% macro cdwClique(array, location, altText) %}
  {% details { title: array.title, cls: 'mt-3 mb-4', summaryCls: 'h3 details', open: array.open } %}
    {% galleryBox { subCls: 'justify-content-center align-items-center cliques' } %}
      {% for item in array.items %}
        {% figure location + item.src, { noMarkdown: true, cls: 'text-center m-1', alt: item.desc, figCaptionCls: 'text-center', noLink: (false if item.link else true), imgLink: item.link } %}
          <a href='{{ item.playlist }}'><button type="button" class="rounded-5 text-xs"><i class="fa fa-play"></i> Play</button></a>
        {% endfigure %}
      {% endfor %}
    {% endgalleryBox %}
  {% enddetails %}
{% endmacro %}

{% macro yysClique(array, location, altText) %}
  {% details { title: array.title, cls: 'mt-3 mb-4', summaryCls: 'h3 details', open: array.open } %}
  <table class="yys-table">
    <thead>
      <tr>
        {% for name in array.columnNames %}
          <th>{{ name | title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in array.rows %}
      <tr>
        <td class='item text-center'><img {{'class=freezeframe' if row.freezeframe }} src="{{ location + row.src }}" alt="{{ (altText + row.alt) if altText else row.alt }}"></td>
        <td>{{ row.desc }}</td>
        {% if row.link %}
        <td>{% link row.link, row.name %}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% enddetails %}
{% endmacro %}