---
title: "Home"
layout: "layouts/basic.html"
css: home
tags:
  - nav
  - main
displayOrder: 1
noScroll: true
---
{% set contentBlock %}
Hello and welcome to **Bechno Kid's Hideout!**

This is a little nook where a software programmer can live her childhood dream as a webmaster.

I don't have my artwork up yet, but hopefully soon! In the meantime, I have other goodies here! Otherwise, please enjoy your stay! :D

**Note**: Pages labeled with {% icon 'alert-triangle' %} will have blinking/flashing graphics when first loading or if you have Javascript disabled.
{% endset %}
<script src="{{ meta.jsUrl }}/microblog.js"></script>
  <div class="content">
    {{ contentBlock | markdownify | safe }}
    <div class="h3 intro-links text-center mt-4">
      <a href="/sitemap">Sitemap</a><span class="mx-2">✦</span><a href="/feed.xml">RSS Feed</a><span class="mx-2">✦</span><a href="/guestbook">Guestbook</a>
    </div>
    <hr>
    <div class="status-row row g-lg-3 mb-3">
      <div class="status col-lg-7 mb-3 mb-lg-0">
        <div class="sidebar h-100">
          <div class="h2 p-2">Latest Status</div>
          {% set status = microblog.microblog[0] %}
          <div id="latest-status" class="js-required status-container d-flex">
          </div>
          <noscript>
            <div class='px-2'>
              <iframe scrolling='no' src="https://status.cafe/users/bechnokid" frameborder="0"></iframe>
            </div>
          </noscript>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="sidebar h-100">
        <div class="h2 p-2">Link Me!</div>
          <div class="content p-2 text-center d-flex flex-column">
            <p class="my-1">Feel free to hotlink!</p>
            <div>{% for button in meta.buttons %}<img class='mx-1' src="{{ button.src }}" alt="{{ button.alt }} button for Bechno Kid's Hideout">{% endfor %}</div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/homepage/cliques.html" %}
  </div>
