---
title: "Home"
layout: "layouts/basic.html"
css: home
tags:
  - nav
  - main
displayOrder: 2
noScroll: true
---
{% set contentBlock %}
Hello and welcome to **Bechno Kid's Hideout!**

This is a little nook where a software programmer can live her childhood dream as a webmaster. I don't have my artwork up yet, but hopefully soon! In the meantime, I have other goodies here! Otherwise, please enjoy your stay! :D

Webrings and fanlistings can be found in [/joined](/joined)!

**Note**: Pages labeled with {% icon 'alert-triangle' %} will have blinking/flashing graphics when first loading or if you have JavaScript disabled.
{% endset %}
<h1 class="m-0 text-xxl">“The ticket to the future is always open!”</h1>
<hr class="small">
<script src="{{ meta.jsUrl }}/microblog.js"></script>
  <div class="content">
    {{ contentBlock | markdownify | safe }}
    <div class="h3 intro-links text-center mt-4">
      {% for link in meta.introLinks %}
        {% link link.url, link.name %}{% if not loop.last %}<span class="mx-2">✦</span>{% endif %}
      {% endfor %}
    </div>
    <div class="status-row row g-lg-3 mb-3">
      <div class="status col-lg-7 mb-3 mb-lg-0">
        <div class="sidebar h-100 overflow-hidden">
          <div class="h2 p-2">Latest Status</div>
          {% set status = microblog.microblog[0] %}
          <div id="status-cafe" class="js-required status-container d-flex">
            <div class="p-5 w-100 text-center">Loading...</div>
          </div>
          <noscript>
            <p class="p-4 text-center">Find me over at <a href="https://status.cafe/users/bechnokid">Status Cafe</a>!</p>
          </noscript>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="sidebar h-100">
        <div class="h2 p-2">Link Me!</div>
          <div class="content p-2 text-center d-flex flex-column">
            <p class="my-1">Feel free to hotlink!</p>
            <div>{% for button in meta.buttons %}{% img button.src, { cls: 'mx-1', alt: button.alt + " button for Bechno Kid's hideout"} %}{% endfor %}</div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/homepage/cliques.html" %}
  </div>
