---
title: 'Splash page'
displayOrder: 1
tags: main
splashImg: '/assets/images/splash.png'
splashImgAlt: "Splash image for Bechno Kid's Hideout that links to the home page"
---
{% set feedItems = collections.feed | reverse %}
{% set lastUpdated = feedItems[0].fileSlug | monDayYear %}
<!DOCTYPE html>
<html lang={{ meta.lang }} data-theme="light">
  <head>
    {% include "partials/head.html" %}
    <link rel="stylesheet" href="{{ meta.cssUrl }}/main.css" type="text/css" media="all">
    <noscript><link rel="stylesheet" href="{{ meta.cssUrl }}/no-script.css" type="text/css" media="all"></noscript>
    <script src="{{ meta.jsUrl }}/script.js"></script>
    <title>{{ meta.name }}</title>
  </head>
<body id="splash-page">
  <main class="container-fluid d-flex justify-content-center align-items-center">
    <div id="splash-container" class="position-relative">
      {% include 'partials/theme-switcher.html' %}
      <div class="content bg-body">
        <div class="row d-flex g-0 p-4">
          <div class="col-md-6 pe-md-3 py-md-3 order-md-0 order-1 text-center d-flex flex-column justify-content-center splash-desc">
            <h1>{{ meta.name }}</h1>
            <hr class="m-0">
            <div class="p-2 mt-3">
              <p><strong>Some notes about this site:</strong></p>
              <ul class="text-left mx-4 mt-4 text-sm">
                <li><strong>PG-13 / WEB 14</strong> for minimal swearing and some mature themes.</li>
                <li>Some parts of the site uses JavaScript, but it will still be functional without it.</li>
                <li>Responsive and mobile-friendly!</li>
                <noscript>
                  <li>Pages labeled with {% icon 'alert-triangle', { cls: 'index' } %} contain blinking/flashing graphics.</li>
                </noscript>
              </ul>
            </div>
            <a class="font-weight-bold my-2 text-lg" href="/home/">ENTER HERE</a>
            <div class="last-update">
              <p>Last updated: {{ lastUpdated }}</p>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-items-center order-md-1 order-0">
            <a href="/home/"><img src="{{ splashImg }}" alt="{{ splashImgAlt }}"></a>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>