---
title: Places I've Joined
shortTitle: Joined
css: 'joined'
summary: "**Warning:** Be cautious of any flashing colors and images when navigating away from this page."
displayOrder: 2
permalink: '/joined/index.html'
debug: false
---
{% if debug %}<script type='text/javascript' src='/assets/javascript/debug_webrings.js'></script>{% endif %}
<script type='text/javascript' src='/assets/javascript/webrings.js'></script>
{% set imgPath = "/assets/images/webrings/" %}
{% macro createWebringCol (arr) %}
  {% for webring in arr %}
   {% if not webring.notJoined %}
    <div class="d-flex align-items-center{{ " mb-2" if not loop.last }}">
      {% if webring.widget %}
        {% if debug and webring.debugWidget %}
          {{ webring.debugWidget | safe }}
        {% else %}
          {{ webring.widget | safe }}
        {% endif %}
      {% else %}
        {% if webring.prevLink %}
          {% imgWithLink imgPath + webring.prevLink.src, webring.prevLInk.link, { imgCls: 'me-1', alt: "Previous button for " + webring.title } %}
        {% endif %}
        {% imgWithLink imgPath + webring.index.src, webring.index.link, { alt: "Index button for " + webring.title } %}
        {% if webring.nextLink %}
          {% imgWithLink imgPath + webring.nextLink.src, webring.nextLink.link, { imgCls: 'ms-1', alt: "Next button for " + webring.title } %}
        {% endif %}
      {% endif %}
    </div>
   {% endif %}
  {% endfor %}
{% endmacro %}

{% set assetLink = '/assets/images/about/fanlistings/' %}
{% galleryBox { title: "Fanlistings", cls: "mb-4", subCls: 'fanlistings pt-0'} %}
{% for key, value in outgoing.joined.fanlistings %}
  <div class="w-100">
    <h3>{{ key | title }}</h3>
    {% for item in value %}
      {% imgWithLink assetLink + item.src, item.link, { alt: item.alt + " fanlisting button", linkCls: 'mx-1' } %}
    {% endfor %}
  </div>
{% endfor %}
{% endgalleryBox %}

{% galleryBox { title: "Webrings", cls: 'js-required', subCls: "overflow-y-auto webrings" } %}
<div class="row g-0">
  {% for webringCol in outgoing.joined.webrings %}
    <div class="col-12 col-lg-4 d-flex flex-column align-items-center px-2">
      {{ createWebringCol(webringCol) }}
    </div>
  {% endfor %}
</div>
{% endgalleryBox %}