---
title: Links
displayOrder: 1
permalink: '/links/index.html'
freezeframe: true
hasLinks: true
flashing: true
---
{% set imgPath = "/assets/images/links/" %}

<div class="position-relative">
  {% include "partials/loading-sidebar.html" %}
  <section>
    <h2>Find Me Elsewhere</h2>
    <div class="d-flex flex-wrap flex-gap-2 justify-content-center p-3">
      {% for item in about.socials %}
        {% img "/assets/images/about/socials/" + item.src, { alt: "Link to Bechno Kid's " + item.name, url: item.url } %}
      {% endfor %}
    </div>
  </section>

  {# Creates section for links\
    * @param {string} options.title - Section title
    * @param {string} options.cls - Section CSS class
    * @param {string} options.desc - Section description
    * @param {array} options.btnsArr - Array that holds links and their data, including buttons
    * @param {array} options.noBtnsArr - Array that holds only links
  #}
  {% macro linkSection(options) %}
    <section class="{{ options.cls or (options.title | slug) }}">
      <h2>{{ options.title }}</h2>
      <div class="d-flex flex-column flex-gap-2">
        <p>{{ options.desc }}</p>
        <ul class="inline-list justify-content-center">
          {% for item in options.noBtnsArr %}
            <li>{% link item.url, item.name %}{% if not loop.last %}<span class="mx-2 text-secondary">✦</span>{% endif %}</li>
          {% endfor %}
        </ul>
        {% galleryBox { cls: 'mx-2', subCls: 'justify-content-center flex-gap-1' } %}
          {%- for item in options.btnsArr %}
            {% set item_src = item.src if "https" in item.src else imgPath + item.src %}
            {% img item_src, { url: item.url, alt: "Link button for " + item.name, freezeframe: item.freezeframe } %}
          {% endfor %}
        {% endgalleryBox %}
      </div>
    </section>
  {% endmacro %}

  {{ linkSection ({ title: "Neighbors", desc: "Sites whose webmasters I'm happy to be affiliated with!", btnsArr: outgoing.links.neighbors, noBtnsArr: outgoing.links.no_btns.neighbors }) }}
  {{ linkSection ({ title: "Other Sites I Like", desc: "Sites that I've admired from afar!", btnsArr: outgoing.links.cool_sites, noBtnsArr: outgoing.links.no_btns.cool_sites })}}
  {{ linkSection ({ title: "Inactive (for now?)", cls: "inactive-links", desc: "Sites that haven't been updated in a while or are on hiatus, but are still worth checking out!", btnsArr: outgoing.links.inactive, noBtnsArr: outgoing.links.no_btns.inactive }) }}

  <section>
    <h2>Favorite Resources</h2>
    <table class='resources'>
      {%- for item in outgoing.links.resources %}
        <tr>
          <td><a href='{{ item.url }}'>{{ item.name }}</a></td>
          <td class='td-desc'>{{ item.desc }}</td>
        </tr>
      {% endfor %}
    </table>
  </section>

  <h2>Made Possible By</h2>
  <ul class="ms-2">
    {%- for link in outgoing.links.credits %}
    <li>
      {% if link.url %}
        {% link link.url, (link.name | markdownifyInline | safe) %}
      {% else %}
        {{ link.name | markdownifyInline | safe }}
      {% endif %}
      {% if link.desc %}({{ link.desc | markdownifyInline | safe }}){% endif %}
    </li>
    {% endfor %}
  </ul>
</div>