---
title: Webrings
css: 'webrings'
summary: "**Warning:** Be cautious of any flashing colors and images when navigating away from this page."
displayOrder: 32
debug: false
---
{% if debug %}<script type='text/javascript' src='/assets/javascript/debug_webrings.js'></script>{% endif %}
<script type='text/javascript' src='/assets/javascript/webrings.js'></script>

{% macro createWebringCol (arr) %}
  {% for webring in arr %}
   {% if not webring.notJoined %}
    <div class="d-flex align-items-center{{ " mb-2" if not loop.last }}">
      {% if webring.widget %}
        {% if debug and webring.debugWidget %}
          {{ webring.debugWidget | safe }}
        {% else %}
          {{ webring.widget | safe }}
        {% endif %}
      {% else %}
        {% if webring.prevLink %}
        <a href="{{ webring.prevLink.link }}"><img class="me-1" src="{{ imgSrc + webring.prevLink.src }}"
            alt="Previous button for {{ webring.title }}"></a>
        {% endif %}
        <a href="{{ webring.index.link }}"><img src="{{ imgSrc + webring.index.src }}"
            alt="Index button for {{ webring.title }}"></a>
        {% if webring.nextLink %}
        <a href="{{ webring.nextLink.link }}"><img class="ms-1" src="{{ imgSrc + webring.nextLink.src }}"
            alt="Next button for {{ webring.title }}"></a>
        {% endif %}
      {% endif %}
    </div>
   {% endif %}
  {% endfor %}
{% endmacro %}

<section class="sidebar">
  <div class="content p-3">
    <div class="row g-0">
      <div class="col-12 col-lg-4 d-flex flex-column align-items-center">
        {{ createWebringCol(column1) }}
      </div>
      <div class="col-12 col-lg-4 d-flex flex-column align-items-center p-2">
        {{ createWebringCol(column2) }}
      </div>
      <div class="col-12 col-lg-4 d-flex flex-column align-items-center p-2">
        {{ createWebringCol(column3) }}
      </div>
    </div>
  </div>
</section>