{% macro navLink(linkUrl, linkTitle, options = {}) %}
<li class="nav-link-item{{ (" " + options.cls) if options.cls }}"><a href="{{ linkUrl }}">{{ linkTitle }}</a> {% if options.flashing == true %}{% icon 'alert-triangle' %}{% endif %} {% if options.new %}{% icon 'new' %}{% endif %}</li>
{% endmacro %}

{% macro navSection(section, name = null) %}
<li>
  <div class="px-2 py-1 h2">{{ (name or section) | title }}</div>
  <ul class="section-list ms-4 ms-lg-3 my-1">
    {%- for link in collections[section] | sortCollectionByDisplayOrder %}
      {% if link.data.wip %}
        <li class="text-muted">{{ link.data.title }} (WIP)</li>
      {% elif link.data.subList %}
        <li class="desktop">
          {% set sublinkItems = link.data.pagination.items | getPageLinks %}
          <details{{ " open" if page.url in sublinkItems }}>
            <summary class="text-secondary">{{ link.data.title }}</summary>
            <ul class="ms-2">
              {%- for sublink in link.data.pagination.items %}
                {% set sublinkCls = sublink.data.navTag or "" %}
                {{ navLink(sublink.page.url, sublink.data.shortTitle or sublink.data.title, { cls: sublinkCls , flashing: sublink.data.flashing, new: sublink.data.new }) }}
              {% endfor %}
            </ul>
          </details>
        </li>
        <li class="mobile nav-link-item section-title">{{ link.data.title }}
          <ul>
            {%- for sublink in link.data.pagination.items %}
              {% set sublinkCls = sublink.data.navTag or "" %}
              {{ navLink(sublink.page.url, sublink.data.shortTitle or sublink.data.title, { cls: sublinkCls + " mobile" , flashing: sublink.data.flashing, new: sublink.data.new }) }}
            {% endfor %}
          </ul>
        </li>
      {% elif "nav" in link.data.tags %}
        {{ navLink(link.page.url, link.data.shortTitle or link.data.title, { cls: link.data.navTag, flashing: link.data.freezeframe or link.data.flashing, new: link.data.new }) }}
      {% endif %}
    {% endfor %}
  </ul>
</li>
{% endmacro %}

<ul>
  <li><a href="#main-content" class="skip-link">Main Content</a></li>
</ul>
<ul class="nav-links">
  {{ navSection('main') }}
  {{ navSection('content') }}
  {{ navSection('resources') }}
  {{ navSection('fun')}}
  {{ navSection('outgoing') }}
</ul>
