<div class="sidebar">
  <div class="h2 text-center p-1">❤ Updates ❤</div>
  <div class="update-content p-2">
    {% set feedItems = collections.feed | reverse %}
    {%- for update in feedItems | limit(3) %}
      <strong>{{ update.fileSlug | monDayYear }}</strong>
      <ul>
        {%- for item in update.data.updateContent %}
        <li>{{ item | markdownifyInline | safe }}</li>
        {% endfor %}
      </ul>
      {% if loop.index != loop.length %}
      <hr class="small">
      {% endif %}
    {% endfor %}
  </div>
</div>